openapi: 3.0.1
info:
  title: Platform Repository Service
  contact:
    email: thomas.yu@sagebionetworks.org
  license:
    name: Apache-2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
  description: |
    Platform Repository Service - Sage Bionetworks Platform
  version: develop-SNAPSHOT
servers:
  - url: https://repo-prod.prod.sagebase.org/repo/v1/
tags:
  - name: AccessApprovalController
    description: The Access Approval services manage the fulfillment of Access Requirements,
      on a per-user basis.
  - name: AccessRequirementController
    description: |
      These services manage the Access Requirements/Restrictions (ARs) which may be placed on Entities,
      or Teams.
  - name: ActivityController
    description: "."
  - name: AdministrationController
    description: Since this controller is for internal use only we removed the ControllerInfo
      annotation.
  - name: AsynchronousJobController
    description: |
      This is a generic set of services that provides support for both launching
      asynchronous jobs and monitoring the progress of jobs.
  - name: CertifiedUserController
    description: To become a Synapse Certified User you must pass a test.
  - name: ChallengeController
    description: |
      A Challenge is a special object that supplements a project, providing additional features
      specific to challenges.
  - name: DataAccessController
    description: "."
  - name: DiscussionController
    description: "."
  - name: DockerAuthorizationController
    description: These services allow Synapse to act as an authorization service for
      a Docker Registry.
  - name: DockerCommitController
    description: These services relate to the 'commits' to Docker repositories.
  - name: DockerRegistryEventController
    description: These services process events from the Docker Registry.
  - name: DoiController
    description: Provides REST APIs for managing Synapse DOIs.
  - name: EntityBundleController
    description: "."
  - name: EntityBundleV2Controller
    description: "."
  - name: EntityController
    description: "."
  - name: EvaluationController
    description: "."
  - name: FormController
    description: Collection of APIs from managing and submitting form data.
  - name: HealthCheckController
  - name: JsonSchemaController
    description: |
      This set of services provide project designers with tools to define their own
      schemas to control and validate metadata applied to Projects, Folders, and
      Files.
  - name: LogController
    description: https://sagebionetworks.
  - name: MembershipInvitationController
    description: |
      The Membership Invitation Services create, retrieve and delete
      membership invitations.
  - name: MembershipRequestController
    description: |
      The Membership Request Services create, retrieve and delete
      membership requests.
  - name: MessageController
    description: "."
  - name: MigrationController
    description: Controller for Migrating data between stacks.
  - name: PrincipalController
    description: A.
  - name: ProjectSettingsController
    description: The project settings services provide configuration options that can
      be applied to projects.
  - name: SearchController
    description: Search for Entities on Synapse.
  - name: StatisticsController
    description: Services that expose statistics computed by the backend.
  - name: StorageReportController
    description: Provides REST APIs for generating Storage Reports.
  - name: SubscriptionController
    description: "."
  - name: SynapseVersionInfoController
  - name: TableController
    description: "."
  - name: TeamController
    description: Teams are groups of users.
  - name: TrashController
    description: The recycle bin (or trash can) is the special folder that holds the
      deleted entities for users.
  - name: UserGroupController
  - name: UserProfileController
    description: Every Synapse user has an associated.
  - name: V2WikiController
    description: "."
  - name: VerificationController
    description: |
      Identity verification is a service offered by the Synapse Access and Compliance Team
      to add an additional layer of legitimacy to a user account, beyond the basic
      requirements for creating an account in Synapse.
  - name: WikiController
    description: "."
paths:
  /challenge:
    $ref: paths/challenge.yaml
  /challenge/{challengeId}:
    $ref: paths/challenge@{challengeId}.yaml

components:
  securitySchemes:
    bearerAuth:            # arbitrary name for the security scheme
      type: http
      scheme: bearer
      bearerFormat: JWT

security:
  - bearerAuth: []