{
  "openapi": "3.0.1",
  "info": {
    "title": "Platform Repository Service",
    "contact": {
      "email": "thomas.yu@sagebionetworks.org"
    },
    "license": {
      "name": "Apache-2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "description": "Platform Repository Service - Sage Bionetworks Platform\n",
    "version": "develop-SNAPSHOT"
  },
  "servers": [
    {
      "url": "https://repo-prod.prod.sagebase.org/repo/v1",
      "description": "Production server"
    },
    {
      "url": "https://repo-staging.prod.sagebase.org/repo/v1",
      "description": "Staging server"
    }
  ],
  "tags": [
    {
      "name": "Access Approval Services",
      "description": "The Access Approval services manage the fulfillment of Access Requirements,\non a per-user basis.\n"
    },
    {
      "name": "Access Requirement Services",
      "description": "These services manage the Access Requirements/Restrictions (ARs) which may be placed on Entities,\nor Teams.\n"
    },
    {
      "name": "Activity Services",
      "description": "The Activity model represents the main record of Provenance in Synapse.\nIt is analygous to the Activity defined in the W3C Specification on Provenance.\n\nUsed & Generated By\n\nUsed links are stored directly in the Activity model object as an array of Used objects.\nThere is a flag in Used that marks if it was \"executed\". Used is an interface that is\nimplemented by two objects:\n\n* UsedEntity - For referencing Entities already stored in Synapse\n* UsedURL - For referencing URL-accessed resources stored outside of Synapse. In Provenance visualizations, some URLs are given a special icon, such as links to GitHub. Note: it is also possible to wrap a URL with a FileEntity if you want all the resources that come with Synapse entities.\n\nwasGeneratedBy links are stored for each version of each Entity. Thus you update the entity with the activity id that generated it. You can ask the entity service which activity generated it, and conversely you can ask the activity service what entity versions were generatedBy a given activity.\n\nAccess Control for Activities\n\nAccess to Activity objects is dictated by the following rules:\n\n* READ - Granted to those users who can see a single Entity that was generated by this Activity.\n* UPDATE/DELETE - You must be the creator of the Activity to modify or delete it.\n* Setting generatedBy for an Entity (see POST /entity) - You must be the creator of the activity to connect it to an Entity. (The Entity services allow you to specify an activityId that creates a generatedBy relationship between an Activity and an Entity.)\n"
    },
    {
      "name": "Asynchronous Job Services",
      "description": "This is a generic set of services that provides support for both launching\nasynchronous jobs and monitoring the progress of jobs.\n"
    },
    {
      "name": "Certified User Services",
      "description": "To become a Synapse Certified User you must pass a test.\nThe Synapse APIs include a service to provide the test and a service to\nsubmit a test result. There are also administrative services to retrieve\nthe history of test submissions.\n"
    },
    {
      "name": "Challenge Services",
      "description": "A Challenge is a special object that supplements a project, providing additional features\nspecific to challenges.\n"
    },
    {
      "name": "Data Access Services",
      "description": "Some data in Synapse are governed by an ACTAccessRequirement. To gain access to\nthese data, a user must meet all requirements specified in the ACTAccessRequirement.\n\nThese services provide the APIs for users to create request to gain access to\ncontrolled data, and APIs for the ACT to review and grant access to users.\n"
    },
    {
      "name": "Discussion Services",
      "description": "Discussions in Synapse are captured in the Project's Forum.\nEach Project has a Forum. Each Forum has a set of Moderators.\nThe Moderators manage the content of the Forum.\n"
    },
    {
      "name": "Docker Commit Services",
      "description": "These services relate to the 'commits' to Docker repositories.\nNote that create, update and delete of the Docker repositories themselves\nare done using the Entity Services, for external/unmanaged repositories,\nor by direct integration with the Docker registry, for managed Docker\nrepositories. Tagged commits for both managed and external/unmanaged repositories\nmay be retrieved using the 'listDockerTags' API included in this service.\n"
    },
    {
      "name": "Doi Services",
      "description": "Provides REST APIs for managing Synapse DOIs."
    },
    {
      "name": "Entity Bundle V2 Services",
      "description": "The Entity Bundle Services provide bundled access to Entities and their related data components.\nAn EntityBundle can be used to create, fetch, or update an Entity and associated objects\nwith a single web service request.\n"
    },
    {
      "name": "Entity Services",
      "description": "All data in Synapse is organize into Projects. These Projects can be further organized\ninto hierarchical Folders. Finally, the data is then represented by FileEntities or\nRecords (coming soon) that reside within Folders or directly within Projects.\nAll these objects (Projects, Folders, FileEntities, and Records) are derived from\na common object called Entity. The Entity Services provide the means to create, read,\nupdate, and delete Synapse Entities. There are also services for navigating the Entity\nhierarchies, setting Authorization rules, and Annotating Entities.\n"
    },
    {
      "name": "Evaluation Services",
      "description": "The Evaluation API is designed to support open-access data analysis and modeling\nchallenges in Synapse. This framework provides tools for administrators to collect\nand analyze data models from Synapse users created for a specific goal or purpose.\n"
    },
    {
      "name": "Form Services",
      "description": "Collection of APIs from managing and submitting form data.\n"
    },
    {
      "name": "Json Schema Services",
      "description": "This set of services provide project designers with tools to define their own\nschemas to control and validate metadata applied to Projects, Folders, and\nFiles.\n"
    },
    {
      "name": "Membership Invitation Services",
      "description": "The Membership Invitation Services create, retrieve and delete\nmembership invitations.\n"
    },
    {
      "name": "Membership Request Services",
      "description": "The Membership Request Services create, retrieve and delete\nmembership requests.\n"
    },
    {
      "name": "Message Services",
      "description": "Provides REST APIs for sending messages to other Synapse users and\nfor commenting on Synapse entities.\n"
    },
    {
      "name": "Table Services",
      "description": "A Synapse TableEntity model object represents the metadata of a table.\nEach TableEntity is defined by a list of ColumnModel IDs. Use POST /column\nto create new ColumnModel objects. Each ColumnModel object is immutable,\nso to change a column of a table a new column must be added and the old column\nmust be removed. TableEntities can be created, updated, read and deleted like\nany other entity.\n"
    },
    {
      "name": "Team Services",
      "description": "Teams are groups of users."
    },
    {
      "name": "Trash Services",
      "description": "The recycle bin (or trash can) is the special folder that holds the\ndeleted entities for users.\n"
    },
    {
      "name": "User Profile Services",
      "description": "Every Synapse user has an associated User Profile"
    }
  ],
  "paths": {
    "/accessApproval": {
      "delete": {
        "description": "Revoke all Access Approvals an accessor may have for a given Access\nRequirement.\n\nThis service is only available to the ACT.\nNote: requirementId must be the ID of an ACT AccessRequirement.\n",
        "operationId": "revokeAccessApprovals",
        "parameters": [
          {
            "description": "The user whose access is being revoked",
            "in": "query",
            "name": "accessorId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "description": "The ID of the Access Requirement.",
            "name": "requirementId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/String"
                }
              }
            },
            "description": "Success"
          }
        },
        "summary": "Revoke all Access Approvals an accessor may have for a given Access Requirement.",
        "tags": [
          "Access Approval Services"
        ]
      },
      "post": {
        "description": "Create an Access Approval, thereby fulfilling an Access Requirement\nfor a given user.\n\nSelf-signed Access Approvals may be generated by the user being approved.  ACT\nAccess Approvals may be generated only by the Synapse Access and Compliance Team\n(ACT).\n\nSince an Access Requirement may apply to multiple entities, fulfilling an Access\nRequirement provides access to all entities restricted by the fulfilled requirement.\n",
        "operationId": "createAccessApproval",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccessApproval"
              }
            }
          },
          "description": "the Access Approval to create",
          "required": false
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessApproval"
                }
              }
            },
            "description": "Success"
          }
        },
        "summary": "Create an Access Approval, thereby fulfilling an Access Requirement for\na given user.\n",
        "tags": [
          "Access Approval Services"
        ]
      }
    },
    "/accessApproval/{approvalId}": {
      "parameters": [
        {
          "description": "The ID of the approval.",
          "in": "path",
          "name": "approvalId",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "delete": {
        "deprecated": true,
        "description": "Delete a selected Access Approval.  This service is only available\nto the ACT.\n",
        "operationId": "deleteAccessApproval",
        "responses": {
          "204": {
            "description": "The resource has been deleted."
          }
        },
        "summary": "Delete an Access Approval.",
        "tags": [
          "Access Approval Services"
        ]
      },
      "get": {
        "description": "Retrieving an AccessApproval given its ID.",
        "operationId": "getAccessApproval",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessApproval"
                }
              }
            },
            "description": "Success"
          }
        },
        "summary": "Retrieving an AccessApproval given its ID.",
        "tags": [
          "Access Approval Services"
        ]
      }
    },
    "/accessApproval/group": {
      "post": {
        "description": "Retrieving a page of AccessorGroup.\n\nThis service is only available for ACT.\nACT can filter on AccessRequirementId, submitterId, and expiredOn by setting\nthe associated fields in AccessorGroupRequest.'\n",
        "operationId": "listAccessorGroup",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccessorGroupRequest"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessorGroupResponse"
                }
              }
            },
            "description": "Success"
          }
        },
        "summary": "Retrieving a page of AccessorGroup.",
        "tags": [
          "Access Approval Services"
        ]
      }
    },
    "/accessApproval/information": {
      "post": {
        "description": "Retrieve a batch of AccessApprovalInfo for a single user.",
        "operationId": "getBatchAccessApprovalInfo",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchAccessApprovalInfoRequest"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchAccessApprovalInfoResponse"
                }
              }
            },
            "description": "Success"
          }
        },
        "summary": "Retrieve a batch of AccessApprovalInfo for a single user.",
        "tags": [
          "Access Approval Services"
        ]
      }
    },
    "/accessApproval/notifications": {
      "post": {
        "description": "Fetches the notifications sent for an access requirement and a list\nof recipients.\n\nThis service is only available for ACT.\n",
        "operationId": "listNotifications",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccessApprovalNotificationRequest"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessApprovalNotificationResponse"
                }
              }
            },
            "description": "Success"
          }
        },
        "summary": "Fetches the notifications sent for an access requirement and a list of\nrecipients.\n",
        "tags": [
          "Access Approval Services"
        ]
      }
    },
    "/accessRequirement": {
      "post": {
        "description": "Add an Access Requirement to an Entity, or Team.\nThis service may only be used by the Synapse Access and Compliance Team.\n",
        "operationId": "createAccessRequirement",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccessRequirement"
              }
            }
          },
          "description": "the Access Requirement to create",
          "required": false
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessRequirement"
                }
              }
            },
            "description": "Success"
          }
        },
        "summary": "Add an Access Requirement to an Entity, or Team.",
        "tags": [
          "Access Requirement Services"
        ]
      }
    },
    "/accessRequirement/{requirementId}": {
      "parameters": [
        {
          "description": "the ID of the requirement.",
          "in": "path",
          "name": "requirementId",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "delete": {
        "description": "Delete an Access Requirement.\nThis service may only be used by the Synapse Access and Compliance Team.\n",
        "operationId": "deleteAccessRequirements",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/String"
                }
              }
            },
            "description": "Success"
          }
        },
        "summary": "Delete an Access Requirement.",
        "tags": [
          "Access Requirement Services"
        ]
      },
      "get": {
        "description": "Get an Access Requirement to an Entity, or Team based on its ID.",
        "operationId": "getAccessRequirement",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessRequirement"
                }
              }
            },
            "description": "Success"
          }
        },
        "summary": "Get an Access Requirement.",
        "tags": [
          "Access Requirement Services"
        ]
      },
      "put": {
        "description": "Modify an existing Access Requirement.\n\nThis service may only be used by the Synapse Access and Compliance Team.\n",
        "operationId": "updateAccessRequirement",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccessRequirement"
              }
            }
          },
          "description": "The modified Access Requirement.",
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessRequirement"
                }
              }
            },
            "description": "Success"
          }
        },
        "summary": "Modify an existing Access Requirement.",
        "tags": [
          "Access Requirement Services"
        ]
      }
    },
    "/accessRequirement/{requirementId}/approvedSubmissionInfo": {
      "parameters": [
        {
          "description": "the ID of the requirement.",
          "in": "path",
          "name": "requirementId",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "description": "Return the research project info for approved data access submissions,\nordered by submission modified-on date, ascending\n",
        "operationId": "listInfoForApprovedSubmissions",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubmissionInfoPageRequest"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubmissionInfoPage"
                }
              }
            },
            "description": "Success"
          }
        },
        "summary": "Return approved data access submissions",
        "tags": [
          "Data Access Services"
        ]
      }
    },
    "/accessRequirement/{requirementId}/dataAccessRequestForUpdate": {
      "parameters": [
        {
          "description": "the ID of the requirement.",
          "in": "path",
          "name": "requirementId",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "description": "Retrieve the Request for update.\n\nIf one does not exist, an Request with some re-filled information is returned.\nIf a submission associated with the request is approved, and the requirement\nrequires renewal, a refilled Renewal is returned.\nOnly the owner of the request can perform this action.\n",
        "operationId": "getRequestForUpdate",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestInterface"
                }
              }
            },
            "description": "Success"
          }
        },
        "summary": "Retrieve the Request for update.",
        "tags": [
          "Data Access Services"
        ]
      }
    },
    "/accessRequirement/{requirementId}/researchProjectForUpdate": {
      "parameters": [
        {
          "description": "the ID of the requirement.",
          "in": "path",
          "name": "requirementId",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "description": "Retrieve an existing ResearchProject that the user owns.\n\nIf none exists, a ResearchProject with some re-filled information is returned\nto the user.\nOnly the owner of the researchProject can perform this action.\n",
        "operationId": "getUserOwnResearchProjectForUpdate",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResearchProject"
                }
              }
            },
            "description": "Success"
          }
        },
        "summary": "Retrieve an existing ResearchProject that the user owns.",
        "tags": [
          "Data Access Services"
        ]
      }
    },
    "/accessRequirement/{requirementId}/status": {
      "parameters": [
        {
          "description": "the ID of the requirement.",
          "in": "path",
          "name": "requirementId",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "description": "Retrieve an access requirement status for a given access requirement ID.",
        "operationId": "getAccessRequirementStatus",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessRequirementStatus"
                }
              }
            },
            "description": "Success"
          }
        },
        "summary": "Retrieve an access requirement status for a given access requirement ID.",
        "tags": [
          "Data Access Services"
        ]
      }
    },
    "/accessRequirement/{requirementId}/subjects": {
      "parameters": [
        {
          "description": "the ID of the requirement.",
          "in": "path",
          "name": "requirementId",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "description": "Retrieve a page of subjects for a given Access Requirement ID.",
        "operationId": "getSubjects",
        "parameters": [
          {
            "in": "query",
            "description": "Next page",
            "name": "nextPageToken",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestrictableObjectDescriptorResponse"
                }
              }
            },
            "description": "Success"
          }
        },
        "summary": "Retrieve a page of subjects for a given Access Requirement ID.",
        "tags": [
          "Access Requirement Services"
        ]
      }
    },
    "/accessRequirement/{requirementId}/submissions": {
      "parameters": [
        {
          "description": "the ID of the requirement.",
          "in": "path",
          "name": "requirementId",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "description": "Retrieve a list of submissions for a given access requirement ID.\n\nOnly ACT member can perform this action.\n",
        "operationId": "listArSubmissions",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubmissionPageRequest"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubmissionPage"
                }
              }
            },
            "description": "Success"
          }
        },
        "summary": "Retrieve a list of submissions for a given access requirement ID.",
        "tags": [
          "Data Access Services"
        ]
      }
    },
    "/accessRequirement/conversion": {
      "put": {
        "description": "Convert an ACTAccessRequirement to a ManagedACTAccessRequirement.\n\nOnly ACT member can perform this action.\n",
        "operationId": "convertAccessRequirement",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccessRequirementConversionRequest"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessRequirement"
                }
              }
            },
            "description": "Success"
          }
        },
        "summary": "Convert an ACTAccessRequirement to a ManagedACTAccessRequirement.",
        "tags": [
          "Access Requirement Services"
        ]
      }
    },
    "/activity": {
      "post": {
        "description": "Create a new provenenance Activity. If the passed Activity\nobject contains a Used array,\nyou must set the concreteType field of each Used subclass.\n\nAccess Control: READ access is granted to those users who can see a single Entity\nthat was generated by this Activity.\n",
        "operationId": "createActivity",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Empty"
              }
            }
          },
          "required": false
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Activity"
                }
              }
            },
            "description": "Success"
          }
        },
        "summary": "Create a new Activity",
        "tags": [
          "Activity Services"
        ]
      }
    },
    "/activity/{id}": {
      "parameters": [
        {
          "description": "The id of an Activity.",
          "in": "path",
          "name": "id",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "delete": {
        "description": "Delete an Activity. \n\nYou must be the creator of the Activity to delete it.\n",
        "operationId": "deleteActivity",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Empty"
              }
            }
          },
          "required": false
        },
        "responses": {
          "204": {
            "description": "The resource was deleted."
          }
        },
        "summary": "Delete an Activity",
        "tags": [
          "Activity Services"
        ]
      },
      "get": {
        "description": "Get an existing Activity\n\nGranted to those users who can see a single Entity that was generated by this Activity.\n",
        "operationId": "getActivity",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Empty"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Activity"
                }
              }
            },
            "description": "Success"
          }
        },
        "summary": "Get an existing Activity.",
        "tags": [
          "Activity Services"
        ]
      },
      "put": {
        "description": "Update an Activity \n\nYou must be the creator of the Activity to modify it.\n",
        "operationId": "updateActivity",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Empty"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Activity"
                }
              }
            },
            "description": "Success"
          }
        },
        "summary": "Update an Activity.",
        "tags": [
          "Activity Services"
        ]
      }
    },
    "/activity/{id}/generated": {
      "parameters": [
        {
          "description": "The id of an Activity.",
          "in": "path",
          "name": "id",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "description": "Get the Entities that were generatedBy an Activity. Returns a PaginatedResults of\nReference objects.\n\nThis service will return References to all generatedBy Entities,\nregardless of whether you have access to resolve them into full\nEntity objects.\n",
        "operationId": "getEntitiesGeneratedBy",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "description": "Limit of query",
            "schema": {
              "default": 10,
              "type": "integer",
              "minimum": 10
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "Offset of query",
            "schema": {
              "default": 0,
              "minimum": 0,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResultsOfReference"
                }
              }
            },
            "description": "Success"
          }
        },
        "summary": "Get the Entities that were generatedBy an Activity.",
        "tags": [
          "Activity Services"
        ]
      }
    },
    "/asynchronous/job": {
      "post": {
        "description": "This method is used to launch new jobs. The type of job that will be launched\nis determined by the passed\n\nAsynchronousJobBody.\n\nThe following are the currently supported job types:\n\n* UploadToTableRequest\n* DownloadFromTableRequest\n\nNote: Each job types has different access requirements.\n",
        "operationId": "launchNewJob",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AsynchronousRequestBody"
              }
            }
          },
          "required": false
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsynchronousJobStatus"
                }
              }
            },
            "description": "Success"
          }
        },
        "summary": "Launch new Asynchronous jobs.",
        "tags": [
          "Asynchronous Job Services"
        ]
      }
    },
    "/asynchronous/job/{jobId}": {
      "parameters": [
        {
          "description": "The ID of a Asynchronous Job.",
          "in": "path",
          "name": "jobId",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "description": "Once a job is launched its progress can be monitored by getting its\nstatus with this method.\n",
        "operationId": "getJobStatus",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsynchronousJobStatus"
                }
              }
            },
            "description": "Success"
          }
        },
        "summary": "Get Asynchronous Job.",
        "tags": [
          "Asynchronous Job Services"
        ]
      }
    },
    "/asynchronous/job/{jobId}/cancel": {
      "parameters": [
        {
          "description": "The ID of a Asynchronous Job.",
          "in": "path",
          "name": "jobId",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "description": "Once a job is launched it can be cancelled if the job is set up to\nbe cancelable.\n",
        "operationId": "stopJob",
        "responses": {
          "204": {
            "description": "The resource has been deleted."
          }
        },
        "summary": "Stop a Asynchronous Job.",
        "tags": [
          "Asynchronous Job Services"
        ]
      }
    },
    "/challenge": {
      "post": {
        "tags": [
          "Challenge Services"
        ],
        "summary": "Create a Challenge object, associated with a Project.",
        "description": "Create a Challenge object, associated with a Project.  A participant Team must\nbe specified.  To create a Challenge one must have CREATE permission on the\nassociated Project.\n",
        "operationId": "createChallenge",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Challenge"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Challenge"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Challenge Services"
        ],
        "summary": "List the Challenges for which the given participant is registered.",
        "description": "List the Challenges for which the given participant is registered.\nTo be in the returned list the caller must have READ permission on the\nproject associated with the Challenge.\n",
        "operationId": "listChallengesForParticipant",
        "parameters": [
          {
            "name": "participantId",
            "in": "query",
            "description": "Synapse user id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results returned",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10,
              "minimum": 10,
              "maximum": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Index of the first result that must be returned",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChallengePagedResults"
                }
              }
            }
          }
        }
      }
    },
    "/challenge/{challengeId}": {
      "parameters": [
        {
          "name": "challengeId",
          "in": "path",
          "description": "The ID of the challenge.",
          "required": true,
          "schema": {
            "type": "integer"
          }
        }
      ],
      "get": {
        "tags": [
          "Challenge Services"
        ],
        "summary": "Retrieve a Challenge given its ID.",
        "description": "Retrieve a Challenge given its ID.  To retrieve a\nChallenge one must have READ permission on the associated Project.\n",
        "operationId": "getChallenge",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Challenge"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Challenge Services"
        ],
        "summary": "Update a Challenge.",
        "description": "Update a Challenge.  The caller must have UPDATE permission on the\nproject associated with the Challenge.  It is not permitted to\nchange the project associated with a Challenge.\n",
        "operationId": "updateChallenge",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Challenge"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Challenge"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Challenge Services"
        ],
        "summary": "Delete a Challenge.",
        "description": "Delete a Challenge.  The caller must have DELETE permission on the\nproject associated with the Challenge.\n",
        "operationId": "deleteChallenge",
        "responses": {
          "204": {
            "description": "The resource was deleted successfully."
          }
        }
      }
    },
    "/challenge/{challengeId}/challengeTeam": {
      "parameters": [
        {
          "name": "challengeId",
          "in": "path",
          "description": "The ID of the challenge.",
          "required": true,
          "schema": {
            "type": "integer"
          }
        }
      ],
      "get": {
        "tags": [
          "Challenge Services"
        ],
        "summary": "List the Teams registered for a Challenge.",
        "description": "List the Teams registered for a Challenge.  You must have READ permission\nin the associated Project to make this request.\n",
        "operationId": "listChallengeTeams",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results returned",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10,
              "minimum": 10,
              "maximum": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Index of the first result that must be returned",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChallengeTeamPagedResults"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Challenge Services"
        ],
        "summary": "Register a Team with a Challenge.",
        "description": "Register a Team with a Challenge. You must be a member of the Challenge's\nparticipant Team (i.e. you must be already registered for the Challenge)\nand be an administrator on the Team being registered.\n",
        "operationId": "createChallengeTeam",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChallengeTeam"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChallengeTeam"
                }
              }
            }
          }
        }
      }
    },
    "/challenge/{challengeId}/challengeTeam/{challengeTeamId}": {
      "parameters": [
        {
          "name": "challengeId",
          "in": "path",
          "description": "The ID of the challenge.",
          "required": true,
          "schema": {
            "type": "integer"
          }
        },
        {
          "name": "challengeTeamId",
          "in": "path",
          "required": true,
          "description": "The ID of the challenge team.",
          "schema": {
            "type": "integer"
          }
        }
      ],
      "put": {
        "tags": [
          "Challenge Services"
        ],
        "summary": "Update a Challenge Team.",
        "description": "Update a Challenge Team. You must be a member of the Challenge's\nparticipant Team (i.e. you must be already registered for the Challenge)\nand be an administrator on the associated Team.\n",
        "operationId": "updateChallengeTeam",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChallengeTeam"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChallengeTeam"
                }
              }
            }
          }
        }
      }
    },
    "/challenge/{challengeId}/participant": {
      "parameters": [
        {
          "name": "challengeId",
          "in": "path",
          "description": "The ID of the challenge.",
          "required": true,
          "schema": {
            "type": "integer"
          }
        }
      ],
      "get": {
        "tags": [
          "Challenge Services"
        ],
        "summary": "List the participants registered for a Challenge.",
        "description": "List the participants registered for a Challenge.\nThe caller must have READ permission on the\nproject associated with the Challenge.",
        "operationId": "listParticipantsInChallenge",
        "parameters": [
          {
            "name": "affiliated",
            "in": "query",
            "description": "If affiliated=true, return just participants affiliated with some\nregistered Team.  If false, return those not affiliated with any registered Team.\nIf omitted return all participants.\n",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results returned",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10,
              "minimum": 10,
              "maximum": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Index of the first result that must be returned",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedIds"
                }
              }
            }
          }
        }
      }
    },
    "/challenge/{challengeId}/registratableTeam": {
      "parameters": [
        {
          "name": "challengeId",
          "in": "path",
          "description": "The ID of the challenge.",
          "required": true,
          "schema": {
            "type": "integer"
          }
        }
      ],
      "get": {
        "tags": [
          "Challenge Services"
        ],
        "summary": "List the Teams that caller can register for the Challenge.",
        "description": "List the Teams that caller can register for the Challenge, i.e. Teams on which\nthe caller is an administrator and which are not already registered.\nThe caller must have READ permission on the\nproject associated with the Challenge to make this request.\n",
        "operationId": "listRegistratableTeams",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results returned",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10,
              "minimum": 10,
              "maximum": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Index of the first result that must be returned",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedIds"
                }
              }
            }
          }
        }
      }
    },
    "/challenge/{challengeId}/submissionTeams": {
      "parameters": [
        {
          "name": "challengeId",
          "in": "path",
          "description": "The ID of the challenge.",
          "required": true,
          "schema": {
            "type": "integer"
          }
        }
      ],
      "get": {
        "tags": [
          "Challenge Services"
        ],
        "summary": "List the Teams under which the given submitter may submit to the Challenge.",
        "description": "List the Teams under which the given submitter may submit to the Challenge, i.e. the Teams on which\nthe user is a member and which are registered for the Challenge.\n",
        "operationId": "listSubmissionTeams",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results returned",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10,
              "minimum": 10,
              "maximum": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Index of the first result that must be returned",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedIds"
                }
              }
            }
          }
        }
      }
    },
    "/challengeTeam/{challengeTeamId}": {
      "parameters": [
        {
          "name": "challengeTeamId",
          "in": "path",
          "required": true,
          "description": "The ID of the challenge team.",
          "schema": {
            "type": "integer"
          }
        }
      ],
      "delete": {
        "tags": [
          "Challenge Services"
        ],
        "summary": "De-register a Team from a Challenge.",
        "description": "De-register a Team from a Challenge. You must be a member of the Challenge's\nparticipant Team (i.e. you must be already registered for the Challenge)\nand be an administrator on the Team being de-registered.\n",
        "operationId": "deleteChallengeTeam",
        "responses": {
          "204": {
            "description": "The resource was deleted successfully."
          }
        }
      }
    },
    "/doi": {
      "get": {
        "description": "Retrieves the DOI for the object and its associated DOI metadata.\nNote: this call calls an external API, which may impact performance\nTo just retrieve the DOI association, see: <a href=\"${GET.doi.association}\">GET /doi/association</a>\n",
        "operationId": "getDoiV2",
        "parameters": [
          {
            "description": "The ID of the object to retrieve",
            "in": "query",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The type of the object",
            "in": "query",
            "name": "type",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ObjectType"
            }
          },
          {
            "description": "The version number of the object",
            "in": "query",
            "name": "version",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Doi"
                }
              }
            },
            "description": "Success"
          }
        },
        "summary": "Retrieves the DOI for the object and its associated DOI metadata.",
        "tags": [
          "Doi Services"
        ]
      }
    },
    "/doi/association": {
      "get": {
        "description": "Retrieves the DOI for the object.\nNote: this call only retrieves the DOI association, if it exists. To retrieve\nthe metadata for the object,\nsee <a href=\"${GET.doi}\">GET /doi</a>'\n",
        "operationId": "getDoiAssociation",
        "parameters": [
          {
            "description": "The ID of the object to retrieve",
            "in": "query",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The type of the object",
            "in": "query",
            "name": "type",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ObjectType"
            }
          },
          {
            "description": "The version number of the object",
            "in": "query",
            "name": "version",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DoiAssociation"
                }
              }
            },
            "description": "Success"
          }
        },
        "summary": "Retrieves the DOI for the object.",
        "tags": [
          "Doi Services"
        ]
      }
    },
    "/doi/async/start": {
      "post": {
        "description": "Asynchronously creates or updates a DOI in Synapse, with input metadata.\nRetrieve the results with\n<a href=\"${GET.doi.async.get.asyncToken}\">GET /doi/async/get/{asyncToken}</a>.\nThis call may fail if the external\nDataCite API is down. If the failure is recoverable, it will retry automatically.'\n",
        "operationId": "startCreateOrUpdateDoi",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DoiRequest"
              }
            }
          },
          "description": "A request containing a DOI and its metadata to associate with a Synapse\nobject\n",
          "required": false
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncJobId"
                }
              }
            },
            "description": "Success"
          }
        },
        "summary": "Asynchronously creates or updates a DOI in Synapse, with input metadata.",
        "tags": [
          "Doi Services"
        ]
      }
    },
    "/doi/async/get/{asyncToken}": {
      "get": {
        "description": "Get the results of a call to POST /doi/async/start\n",
        "operationId": "getCreateOrUpdateDoiResults",
        "parameters": [
          {
            "description": "The async job token from the create/update call",
            "in": "path",
            "name": "asyncToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DoiResponse"
                }
              }
            },
            "description": "Success"
          }
        },
        "summary": "Get the results of a call to POST /doi/async/start",
        "tags": [
          "Doi Services"
        ]
      }
    },
    "/doi/locate": {
      "get": {
        "description": "Retrieves the Synapse web portal URL to the object entered.\nNote: This call does not check to see if the object exists in Synapse.\n",
        "operationId": "locate",
        "parameters": [
          {
            "description": "The ID of the object to retrieve",
            "in": "query",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Whether to return the URL or redirect to the URL",
            "in": "query",
            "name": "redirect",
            "schema": {
              "default": true,
              "type": "boolean"
            }
          },
          {
            "description": "The type of the object",
            "in": "query",
            "name": "type",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ObjectType"
            }
          },
          {
            "description": "The version number of the object",
            "in": "query",
            "name": "version",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/String"
                }
              }
            },
            "description": "Success"
          }
        },
        "summary": "Retrieves the Synapse web portal URL to the object entered.",
        "tags": [
          "Doi Services"
        ]
      }
    },
    "/entity": {
      "post": {
        "description": "Create a new Entity. This method is used to create Projects, Folders,\nFileEntities and Records (coming soon). The passed request body should\ncontain the following fields:\n\n<ul>\n\n<li>name - Give your new entity a Name. <b>Note:</b> A name must be unique\nwithin the given parent, similar to a file in a folder.</li>\n\n<li>parentId - The ID of the parent Entity, such as a Folder or Project. This\nfield should be excluded when creating a Project.</li>\n\n<li>concreteType - Indicates the type of Entity to create. The value should\nbe one of the following: org.sagebionetworks.repo.model.Project,\norg.sagebionetworks.repo.model.Folder, or\norg.sagebionetworks.repo.model.FileEntity</li>\n\n</ul>\n\n<p>\n\nNote: To create an Entity the caller must be granted the\n<a href=\"${org.sagebionetworks.repo.model.ACCESS_TYPE}\">ACCESS_TYPE.CREATE</a>\non the parent Entity. Any authenticated caller can\ncreate a new Project (with parentId=null).\n\n</p>\n\n<p>\n\n<b>Service Limits</b>\n\n<table border=\"1\">\n\n<tr>\n\n<th>resource</th>\n\n<th>limit</th>\n\n</tr>\n\n<tr>\n\n<td>The maximum number of children for a single parent entity</td>\n\n<td>10 K</td>\n\n</tr>\n\n</table>\n\n</p>\n",
        "operationId": "createEntity",
        "parameters": [
          {
            "description": "To track the Provenance of an Entity create, include the\nID of the <a href=\"${org.sagebionetworks.repo.model.provenance.Activity}\">Activity</a>\nthat was created to track the change. For\nmore information see: <a href=\"${POST.activity}\">POST /activity</a>.\nYou must be the creator of the <a href=\"${org.sagebionetworks.repo.model.provenance.Activity}\">Activity</a> used here.'\n",
            "in": "query",
            "name": "generatedBy",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Entity"
              }
            }
          },
          "required": false
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Entity"
                }
              }
            },
            "description": "Success"
          }
        },
        "summary": "Create a new Entity.",
        "tags": [
          "Entity Services"
        ]
      }
    },
    "/entity/{id}": {
      "parameters": [
        {
          "description": "The ID of an Entity.",
          "in": "path",
          "name": "id",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "delete": {
        "description": "Moves an entity in the trash can, if the skipTrashCan is set to true\nwill flag the entity for purge and it will be deleted as soon as possible.\n\n<p>\n\nNote: To delete an Entity the caller must be granted the\n\n<a href=\"${org.sagebionetworks.repo.model.ACCESS_TYPE}\">ACCESS_TYPE.DELETE</a> on the Entity.\n\n</p>\n",
        "operationId": "deleteEntity",
        "parameters": [
          {
            "description": "If true the entity will be flag for priority purge and\ndeleted as soon as possible\n",
            "in": "query",
            "name": "skipTrashCan",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Empty"
              }
            }
          },
          "required": false
        },
        "responses": {
          "204": {
            "description": "The resource has been deleted"
          }
        },
        "summary": "Deletes an Entity",
        "tags": [
          "Entity Services"
        ]
      },
      "get": {
        "description": "Get an Entity using its ID.\n\n<p>\nNote: To get an Entity the caller must be granted the\n<a href=\"${org.sagebionetworks.repo.model.ACCESS_TYPE}\" >ACCESS_TYPE.READ</a>\non the Entity.\n\n</p>\n",
        "operationId": "getEntity",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Entity"
                }
              }
            },
            "description": "Success"
          }
        },
        "summary": "Get an Entity",
        "tags": [
          "Entity Services"
        ]
      },
      "put": {
        "description": "Update an entity.\n\n<p>\n\nIf the Entity is a FileEntity and the dataFileHandleId fields is set to a new\nvalue, then a new version will automatically be created for this update if the\nMD5 of the new file handle does not match the MD5 of the existing file handle\nor if the file handles do not have an MD5 set. You can also force the creation of a\nnew version using the newVersion parameter\n\n(see below).\n\n</p>\n\n<p>\n\nSynapse employs an Optimistic Concurrency Control (OCC) scheme to handle\nconcurrent updates. Each time an Entity is updated a new etag will be issued\nto the Entity. When an update is request, Synapse will compare the etag of\nthe passed Entity with the current etag of the Entity. If the etags do not\nmatch, then the update will be rejected with a PRECONDITION_FAILED (412)\nresponse. When this occurs the caller should get the latest copy of the\nEntity (see: <a href=\"${GET.entity.id}\">GET /entity/{id}</a>) and re-apply\nany changes to the object, then re-attempt the Entity update. This ensure the\ncaller has any changes applied by other users before applying their own\nchanges.\n\n</p>\n\n<p>\n\nNote: To update an Entity the caller must be granted the\n<a href=\"${org.sagebionetworks.repo.model.ACCESS_TYPE}\">ACCESS_TYPE.UPDATE</a> on the Entity.\n\n</p>\n\n<p>\n\n<b>Service Limits</b>\n\n<table border=\"1\">\n\n<tr>\n\n<th>resource</th>\n\n<th>limit</th>\n\n</tr>\n\n<tr>\n\n<td>The maximum number of children for a single parent entity</td>\n\n<td>10 K</td>\n\n</tr>\n\n</table>\n\n</p>\n",
        "operationId": "updateEntity",
        "parameters": [
          {
            "description": "To track the Provenance of an Entity update, include the\nID of the <a href=\"${org.sagebionetworks.repo.model.provenance.Activity}\">Activity</a> that was created to track the change. For\nmore information see: <a href=\"${POST.activity}\">POST /activity</a>.\nYou must be the creator of the\n<a href=\"${org.sagebionetworks.repo.model.provenance.Activity}\">Activity</a> used here.'\n",
            "in": "query",
            "name": "generatedBy",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "To force the creation of a new version for a\n<a href=\"${org.sagebionetworks.repo.model.VersionableEntity}\">versionable</a>\nentity such as a <a href= \"${org.sagebionetworks.repo.model.FileEntity}\">FileEntity</a>,\ninclude this optional parameter with a value set to true (i.e. newVersion=true).\nThis parameter is ignored for entities of type\n\n<a href=\"${org.sagebionetworks.repo.model.table.Table}\">Table</a>\n(See <a href=\"${POST.entity.id.table.snapshot}\">POST /entity/{id}/table/snapshot</a>\ninstead)\n",
            "in": "query",
            "name": "newVersion",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Entity"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Entity"
                }
              }
            },
            "description": "Success"
          }
        },
        "summary": "Update an entity.",
        "tags": [
          "Entity Services"
        ]
      }
    },
    "/entity/{id}/access": {
      "parameters": [
        {
          "description": "The ID of an Entity.",
          "in": "path",
          "name": "id",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "description": "Determine if the caller have a given permission on a given Entity.\n\n<p>\n\nA User's permission on an Entity is a calculation based several factors\nincluding the permission granted by the Entity's ACL and the User's group\nmembership. There might also be extra requirement for an Entity, such as\nspecial terms-of-use or special restrictions for sensitive data. This means a\nclient cannot accurately calculate a User's permission on an Entity simply by\ninspecting the Entity's ACL. Instead, all clients should use this method to\nget the calculated permission a User has on an Entity.\n</p>\n",
        "operationId": "hasAccess",
        "parameters": [
          {
            "description": "The permission to check. Must be from: \n<a href=\"${org.sagebionetworks.repo.model.ACCESS_TYPE}\">ACCESS_TYPE</a>'\n",
            "in": "query",
            "name": "accessType",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Empty"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BooleanResult"
                }
              }
            },
            "description": "Success"
          }
        },
        "summary": "Determine if the caller have a given permission on a given Entity.",
        "tags": [
          "Entity Services"
        ]
      }
    },
    "/entity/{id}/accessRequirement": {
      "parameters": [
        {
          "description": "The ID of an Entity.",
          "in": "path",
          "name": "id",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "description": "Retrieve paginated list of ALL Access Requirements associated with\nan entity.\n",
        "operationId": "getEntityAccessRequirements",
        "parameters": [
          {
            "description": "Limits the size of the page returned. For example, a page size\nof 10 require limit = 10. The maximum limit for this call is 50.\n",
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "minimum": 10,
              "maximum": 50
            }
          },
          {
            "description": "The index of the pagination offset. For a page size of 10, the\nfirst page would be at offset = 0, and the second page would be at offset =\n10.\n",
            "in": "query",
            "name": "offset",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResultsOfAccessRequirement"
                }
              }
            },
            "description": "Success"
          }
        },
        "summary": "Retrieve paginated list of ALL Access Requirements associated with an entity.",
        "tags": [
          "Access Requirement Services"
        ]
      }
    },
    "/entity/{id}/acl": {
      "parameters": [
        {
          "description": "The ID of an Entity.",
          "in": "path",
          "name": "id",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "delete": {
        "description": "Delete the Access Control List (ACL) for a given Entity.\n\n<p>\n\nBy default, Entities such as FileEntity and Folder inherit their permission\nfrom their containing Project. For such Entities the Project is the Entity's\n'benefactor'. This permission inheritance can be overridden by creating an\nACL for the Entity. When this occurs the Entity becomes its own benefactor\nand all permission are determined by its own ACL.\n\n</p>\n\n<p>\n\nIf the ACL of an Entity is deleted, then its benefactor will automatically be\nset to its parent''s benefactor. The ACL for a Project cannot be deleted.\n\n</p>\n\n<p>\n\nNote: The caller must be granted\n<a href=\"${org.sagebionetworks.repo.model.ACCESS_TYPE}\">ACCESS_TYPE.CHANGE_PERMISSIONS</a>\non the Entity to call this method.\n\n</p>\n",
        "operationId": "deleteEntityAcl",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Empty"
              }
            }
          },
          "required": false
        },
        "responses": {
          "204": {
            "description": "This resource has been deleted."
          }
        },
        "summary": "Delete the Access Control List (ACL) for a given Entity.",
        "tags": [
          "Entity Services"
        ]
      },
      "get": {
        "description": "Get the Access Control List (ACL) for a given entity.\n\n<p>\nNote: If this method is called on an Entity that is inheriting its permission\nfrom another Entity a NOT_FOUND (404) response will be generated. The error\nresponse message will include the Entity''s benefactor ID.\n</p>\n",
        "operationId": "getEntityAcl",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessControlList"
                }
              }
            },
            "description": "Success"
          }
        },
        "summary": "Get the Access Control List (ACL) for a given entity.",
        "tags": [
          "Entity Services"
        ]
      },
      "post": {
        "description": "Create a new Access Control List (ACL), overriding inheritance.\n\n<p>\nBy default, Entities such as FileEntity and Folder inherit their permission\nfrom their containing Project. For such Entities the Project is the Entity's\n'benefactor'. This permission inheritance can be overridden by creating an\nACL for the Entity. When this occurs the Entity becomes its own benefactor\nand all permission are determined by its own ACL.\n\n</p>\n\n<p>\n\nIf the ACL of an Entity is deleted, then its benefactor will automatically be\nset to its parent's benefactor.\n\n</p>\n\n<p>\n\nNote: The caller must be granted\n\n<a href=\"${org.sagebionetworks.repo.model.ACCESS_TYPE}\">ACCESS_TYPE.CHANGE_PERMISSIONS</a>\non the Entity to call this method.\n\n</p>\n",
        "operationId": "createEntityAcl",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccessControlList"
              }
            }
          },
          "required": false
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessControlList"
                }
              }
            },
            "description": "Success"
          }
        },
        "summary": "Create a new Access Control List (ACL), overriding inheritance.",
        "tags": [
          "Entity Services"
        ]
      },
      "put": {
        "description": "Update an Entity's ACL.\n\n<p>\n\nNote: The caller must be granted\n\n<a href=\"${org.sagebionetworks.repo.model.ACCESS_TYPE}\">ACCESS_TYPE.CHANGE_PERMISSIONS</a>\non the Entity to call this method.\n\n</p>\n",
        "operationId": "updateEntityAcl",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccessControlList"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessControlList"
                }
              }
            },
            "description": "Success"
          }
        },
        "summary": "Update an Entity's ACL.",
        "tags": [
          "Entity Services"
        ]
      }
    },
    "/entity/{id}/annotations2": {
      "parameters": [
        {
          "description": "The ID of an Entity.",
          "in": "path",
          "name": "id",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "description": "Get the annotations for an entity.\n\n<p>\n\nNote: The caller must be granted the\n<a href=\"${org.sagebionetworks.repo.model.ACCESS_TYPE}\" >ACCESS_TYPE.READ</a>\non the Entity, to get its annotations.\n\n</p>\n",
        "operationId": "getEntityAnnotations",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Annotations_v2"
                }
              }
            },
            "description": "Success"
          }
        },
        "summary": "Get the annotations for an entity.",
        "tags": [
          "Entity Services"
        ]
      },
      "put": {
        "description": "Update an Entity's annotations.\n\n<p>\n\nNote: The caller must be granted the\n<a href=\"${org.sagebionetworks.repo.model.ACCESS_TYPE}\">ACCESS_TYPE.UPDATE</a>\non the Entity, to update its annotations.\n</p>\n",
        "operationId": "updateEntityAnnotations",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Annotations_v2"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Annotations_v2"
                }
              }
            },
            "description": "Success"
          }
        },
        "summary": "Update an Entity's annotations.",
        "tags": [
          "Entity Services"
        ]
      }
    },
    "/entity/{id}/benefactor": {
      "parameters": [
        {
          "description": "The ID of an Entity.",
          "in": "path",
          "name": "id",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "description": "Get an Entity's benefactor.\n\n<p>\n\nThe term 'benefactor' is used indicate which Entity an Entity inherits is ACL\nfrom. For example, a newly created Project will have its own ACL and\ntherefore, it will be its own benefactor. A Folder will inherit its ACL (by\ndefault) from its containing Project so the Project will be the Folder's\nbenefactor. This method will return the EntityHeader of an Entity's\nbenefactor.\n</p>\n",
        "operationId": "getEntityBenefactor",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Empty"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityHeader"
                }
              }
            },
            "description": "Success"
          }
        },
        "summary": "Get an Entity's benefactor.",
        "tags": [
          "Entity Services"
        ]
      }
    },
    "/entity/{id}/bundle2": {
      "parameters": [
        {
          "description": "The ID of an Entity.",
          "in": "path",
          "name": "id",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "description": "Get an entity and related data with a single POST.",
        "operationId": "getEntityBundle",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EntityBundleRequest"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityBundle_v2"
                }
              }
            },
            "description": "Success"
          }
        },
        "summary": "Get an entity and related data with a single POST.",
        "tags": [
          "Entity Bundle V2 Services"
        ]
      },
      "put": {
        "description": "Update an entity and associated components with a single PUT.\nSpecifically, this operation supports update of an Entity, its\nAnnotations, and its ACL.\nUpon successful creation, an EntityBundle is returned containing the\nrequested components, as defined by the partsMask in the request object.\n",
        "operationId": "updateEntityBundle",
        "parameters": [
          {
            "in": "query",
            "name": "generatedBy",
            "description": "Generated by",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EntityBundleCreate_v2"
              }
            }
          },
          "description": "The EntityBundleCreate object containing the Entity and Annotations\nto update.\n",
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityBundle_v2"
                }
              }
            },
            "description": "Success"
          }
        },
        "summary": "Update an entity and associated components with a single PUT.",
        "tags": [
          "Entity Bundle V2 Services"
        ]
      }
    },
    "/entity/{id}/challenge": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "Synapse Project id",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "tags": [
          "Challenge Services"
        ],
        "summary": "Retrieve a Challenge given the ID of its associated Project.",
        "description": "Retrieve a Challenge given the ID of its associated Project.  To retrieve a\nChallenge one must have READ permission on the Project.\n",
        "operationId": "getChallengeByProjectId",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Challenge"
                }
              }
            }
          }
        }
      }
    },
    "/entity/{id}/column": {
      "parameters": [
        {
          "description": "The ID of a Table.",
          "in": "path",
          "name": "id",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "description": "Given the ID of a <a href=\"${org.sagebionetworks.repo.model.table.TableEntity}\">TableEntity</a>,\nget its list of <ahref=\"${org.sagebionetworks.repo.model.table.ColumnModel}\">ColumnModels</a>\nthat are currently assigned to the table.\n\n<p>\n\n<b>Service Limits</b>\n\n<table border=\"1\">\n\n<tr>\n\n<th>resource</th>\n\n<th>limit</th>\n\n</tr>\n\n<tr>\n\n<td>The maximum frequency this method can be called</td>\n\n<td>6 calls per minute</td>\n\n</tr>\n\n</table>\n\n</p>\n",
        "operationId": "getColumnForTable",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedColumnModels"
                }
              }
            },
            "description": "Success"
          }
        },
        "summary": "Given the ID of a.",
        "tags": [
          "Table Services"
        ]
      }
    },
    "/entity/{id}/datatype": {
      "parameters": [
        {
          "description": "The ID of an Entity.",
          "in": "path",
          "name": "id",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "put": {
        "description": "Change the <a href=\"${org.sagebionetworks.repo.model.DataType}\" >DataType</a>\nof the given entity. The entity's DataType controls how the entity can be\naccessed. For example, an entity's DataType must be set to 'open_data' in\norder for anonymous to be allowed to access its contents.\n\n<p>\n\nNote: The caller must be a member of the 'Synapse Access and Compliance Team'\n(id=464532) in order to change an Entity's type to 'OPEN_DATA'. The caller\nmust be granted UPDATED on the Entity to change the its type to any other\nvalue.\n\n</p>'\n",
        "operationId": "changeEntityDataType",
        "parameters": [
          {
            "in": "query",
            "name": "type",
            "required": true,
            "description": "Type of data",
            "schema": {
              "enum": [
                "OPEN_DATA",
                "SENSITIVE_DATA"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataTypeResponse"
                }
              }
            },
            "description": "Success"
          }
        },
        "summary": "Change the.",
        "tags": [
          "Entity Services"
        ]
      }
    },
    "/entity/{id}/dockerCommit": {
      "parameters": [
        {
          "description": "the ID of the Docker repository entity",
          "in": "path",
          "name": "id",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "description": "Add a commit (tag and digest) for an external/unmanaged Docker repository.\n(Commits for managed repositories are added via direct integration with the\nSynapse Docker registry.)\n",
        "operationId": "addDockerCommit",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DockerCommit"
              }
            }
          },
          "description": "the new tag/digest pair for the repository",
          "required": false
        },
        "responses": {
          "204": {
            "description": "Success"
          }
        },
        "summary": "Add a commit (tag and digest) for an external/unmanaged Docker repository.",
        "tags": [
          "Docker Commit Services"
        ]
      }
    },
    "/entity/{id}/dockerTag": {
      "parameters": [
        {
          "description": "the ID of the Docker repository entity",
          "in": "path",
          "name": "id",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "description": "List the tagged commits (tag/digest pairs) for the given Docker repository.  Only\nthe most recent digest for each tag is returned since,\nfollowing Docker's convention, a tag may be reassigned\nto a newer commit. The list may be sorted by date or tag.  The default is to sort\nby date, descending (newest first).'\n",
        "operationId": "listDockerTags",
        "parameters": [
          {
            "in": "query",
            "name": "ascending",
            "description": "Ascending",
            "schema": {
              "default": false,
              "type": "boolean"
            }
          },
          {
            "description": "pagination parameter, optional (default is 20)",
            "in": "query",
            "name": "limit",
            "schema": {
              "default": 20,
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "description": "pagination parameter, optional (default is 0)",
            "in": "query",
            "name": "offset",
            "schema": {
              "default": 0,
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort results",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResultsOfDockerCommit"
                }
              }
            },
            "description": "Success"
          }
        },
        "summary": "List the tagged commits (tag/digest pairs) for the given Docker repository.",
        "tags": [
          "Docker Commit Services"
        ]
      }
    },
    "/entity/{id}/evaluation": {
      "parameters": [
        {
          "description": "the ID of the project",
          "in": "path",
          "name": "id",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "description": "Gets Evaluations tied to a project.\n<b>Note:</b> The response will contain only those Evaluations on which the caller\nis granted the <a href=\"${org.sagebionetworks.repo.model.ACCESS_TYPE}\">ACCESS_TYPE.READ</a>\npermission, unless specified otherwise with the accessType parameter.\n",
        "operationId": "getEvaluationsByContentSourcePaginated",
        "parameters": [
          {
            "description": "The type of access for the user to filter for, optional and defaults\nto <a href=\"${org.sagebionetworks.repo.model.ACCESS_TYPE}\">ACCESS_TYPE.READ</a>\n",
            "in": "query",
            "name": "accessType",
            "schema": {
              "$ref": "#/components/schemas/ACCESS_TYPE"
            }
          },
          {
            "description": "If 'true' then return only those evaluations with rounds defined\nand for which the current time is in one of the rounds.\n",
            "in": "query",
            "name": "activeOnly",
            "schema": {
              "default": false,
              "type": "boolean"
            }
          },
          {
            "description": "an optional, comma-delimited list of evaluation IDs to which the\nresponse is limited\n",
            "in": "query",
            "name": "evaluationIds",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Limits the number of entities that will be fetched for this\npage. When null it will default to 10.\n",
            "in": "query",
            "name": "limit",
            "schema": {
              "default": 10,
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "description": "The offset index determines where this page will start from.\nAn index of 0 is the first entity. When null it will default\nto 0.\n",
            "in": "query",
            "name": "offset",
            "schema": {
              "default": 0,
              "type": "integer",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResultsOfEvaluation"
                }
              }
            },
            "description": "Success"
          }
        },
        "summary": "Gets Evaluations tied to a project.",
        "tags": [
          "Evaluation Services"
        ]
      }
    },
    "/entity/{id}/filehandles": {
      "parameters": [
        {
          "description": "The ID of a File Entity.",
          "in": "path",
          "name": "id",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "description": "Get the FileHandles of the file currently associated with the current\nversion of the Entity.\n\n<p>\nIf a preview exists for the file then the handle of the preview and the file\nwill be returned with this call.\n</p>\n",
        "operationId": "getEntityFileHandles",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileHandleResults"
                }
              }
            },
            "description": "Success"
          }
        },
        "summary": "Get the FileHandles of the file currently associated with the current\nversion of the Entity.\n",
        "tags": [
          "Entity Services"
        ]
      }
    },
    "/entity/{id}/filepreview": {
      "parameters": [
        {
          "description": "The ID of a File Entity.",
          "in": "path",
          "name": "id",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "description": "Get the URL of the preview file associated with the current version\nof a FileEntity.\n\n<p>\nNote: This call will result in a HTTP temporary redirect (307), to the actual\nfile URL if the caller meets all of the download requirements.\n</p>\n",
        "operationId": "getFilePreviewUrl",
        "parameters": [
          {
            "description": "When set to false, the URL will be returned as text/plain\ninstead of redirecting.\n",
            "in": "query",
            "name": "redirect",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "description": "Status",
            "name": "status",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/String"
                }
              }
            },
            "description": "Success"
          }
        },
        "summary": "Get the URL of the preview file associated with the current version of\na FileEntity.\n",
        "tags": [
          "Entity Services"
        ]
      }
    },
    "/entity/{id}/generatedBy": {
      "parameters": [
        {
          "description": "The ID of an Entity.",
          "in": "path",
          "name": "id",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "delete": {
        "description": "Deletes the activity relationship for the current version of an\nEntity.\n",
        "operationId": "deleteActivityForEntity",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Empty"
              }
            }
          },
          "required": false
        },
        "responses": {
          "204": {
            "description": "This resource has been deleted"
          }
        },
        "summary": "Deletes the activity relationship for the current version of an Entity.",
        "tags": [
          "Entity Services"
        ]
      },
      "get": {
        "description": "Get an existing activity for the current version of an Entity.",
        "operationId": "getActivityForEntity",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Empty"
              }
            }
          },
          "description": "Get an existing activity for the current version of an Entity.",
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Activity"
                }
              }
            },
            "description": "Success"
          }
        },
        "summary": "Get an existing activity for the current version of an Entity.",
        "tags": [
          "Entity Services"
        ]
      },
      "put": {
        "description": "Sets the generatedBy relationship for the current version of an Entity.",
        "operationId": "updateActivityForEntity",
        "parameters": [
          {
            "description": "The id of the activity to connect to the entity. You must\nbe the creator of the Activity used here.'\n",
            "in": "query",
            "name": "generatedBy",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Empty"
              }
            }
          },
          "description": "Sets the generatedBy relationship for the current version of an Entity.",
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Activity"
                }
              }
            },
            "description": "Success"
          }
        },
        "summary": "Sets the generatedBy relationship for the current version of an Entity.",
        "tags": [
          "Entity Services"
        ]
      }
    },
    "/entity/{id}/json": {
      "parameters": [
        {
          "description": "The ID of an Entity.",
          "in": "path",
          "name": "id",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "description": "Get the raw JSON for the given entity. The resulting JSON can be used\nfor the validation of a entity against a\n<a href=\"${org.sagebionetworks.repo.model.schema.JsonSchema}\">JsonSchema</a>.\n\n<p>\n\nNote: The caller must be granted the\n<a href=\"${org.sagebionetworks.repo.model.ACCESS_TYPE}\" >ACCESS_TYPE.READ</a>\npermission on the Entity.\n\n</p>\n",
        "operationId": "getEntityJson",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JSONObject"
                }
              }
            },
            "description": "Success"
          }
        },
        "summary": "Get the raw JSON for the given entity.",
        "tags": [
          "Entity Services"
        ]
      },
      "put": {
        "description": "Update the annotations of an entity using the raw JSON of the entity.\n\n<p>\n\nSee: <a href=\"${GET.entity.id.json}\">GET entity/{id}/json</a> to get the JSON\nof an entity.\n\n</p>\n\n<p>\nNote: The caller must be granted the\n<a href=\"${org.sagebionetworks.repo.model.ACCESS_TYPE}\" >ACCESS_TYPE.UPDATE and ACCESS_TYPE.READ</a>\npermission on the Entity.\n</p>'\n",
        "operationId": "updateEntityWithJson",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JSONObject"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JSONObject"
                }
              }
            },
            "description": "Success"
          }
        },
        "summary": "Update the annotations of an entity using the raw JSON of the entity.",
        "tags": [
          "Entity Services"
        ]
      }
    },
    "/entity/{id}/lockAccessRequirement": {
      "parameters": [
        {
          "description": "The ID of an Entity.",
          "in": "path",
          "name": "id",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "description": "Add a temporary access restriction that prevents access pending review\nby the Synapse Access and Compliance Team.\nThis service may be used only by an administrator of the specified entity.\n",
        "operationId": "createLockAccessRequirement",
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessRequirement"
                }
              }
            },
            "description": "Success"
          }
        },
        "summary": "Add a temporary access restriction that prevents access pending review\nby the Synapse ACT.\n",
        "tags": [
          "Access Requirement Services"
        ]
      }
    },
    "/entity/{id}/message": {
      "parameters": [
        {
          "description": "The ID of an Entity.",
          "in": "path",
          "name": "id",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "description": "Adds the owner of the given entity as an additional recipient of the\nmessage.\n",
        "operationId": "sendMessageToEntityOwner",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MessageToUser"
              }
            }
          },
          "required": false
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageToUser"
                }
              }
            },
            "description": "Success"
          }
        },
        "summary": "Adds the owner of the given entity as an additional recipient of the message.",
        "tags": [
          "Message Services"
        ]
      }
    },
    "/entity/{id}/path": {
      "parameters": [
        {
          "description": "The ID of an Entity.",
          "in": "path",
          "name": "id",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
[...]
