{
  "openapi": "3.0.1",
  "info": {
    "title": "Platform Repository Service",
    "contact": {
      "email": "thomas.yu@sagebionetworks.org"
    },
    "license": {
      "name": "Apache-2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "description": "Platform Repository Service - Sage Bionetworks Platform\n",
    "version": "develop-SNAPSHOT"
  },
  "servers": [
    {
      "url": "https://repo-prod.prod.sagebase.org/repo/v1/"
    }
  ],
  "tags": [
    {
      "name": "AccessApprovalController",
      "description": "The Access Approval services manage the fulfillment of Access Requirements, on a per-user basis."
    },
    {
      "name": "AccessRequirementController",
      "description": "These services manage the Access Requirements/Restrictions (ARs) which may be placed on Entities,\nor Teams.\n"
    },
    {
      "name": "ActivityController",
      "description": "."
    },
    {
      "name": "AdministrationController",
      "description": "Since this controller is for internal use only we removed the ControllerInfo annotation."
    },
    {
      "name": "AsynchronousJobController",
      "description": "This is a generic set of services that provides support for both launching\nasynchronous jobs and monitoring the progress of jobs.\n"
    },
    {
      "name": "CertifiedUserController",
      "description": "To become a Synapse Certified User you must pass a test."
    },
    {
      "name": "ChallengeController",
      "description": "A Challenge is a special object that supplements a project, providing additional features\nspecific to challenges.\n"
    },
    {
      "name": "DataAccessController",
      "description": "."
    },
    {
      "name": "DiscussionController",
      "description": "."
    },
    {
      "name": "DockerAuthorizationController",
      "description": "These services allow Synapse to act as an authorization service for a Docker Registry."
    },
    {
      "name": "DockerCommitController",
      "description": "These services relate to the 'commits' to Docker repositories."
    },
    {
      "name": "DockerRegistryEventController",
      "description": "These services process events from the Docker Registry."
    },
    {
      "name": "DoiController",
      "description": "Provides REST APIs for managing Synapse DOIs."
    },
    {
      "name": "EntityBundleController",
      "description": "."
    },
    {
      "name": "EntityBundleV2Controller",
      "description": "."
    },
    {
      "name": "EntityController",
      "description": "."
    },
    {
      "name": "EvaluationController",
      "description": "."
    },
    {
      "name": "FormController",
      "description": "Collection of APIs from managing and submitting form data."
    },
    {
      "name": "HealthCheckController"
    },
    {
      "name": "JsonSchemaController",
      "description": "This set of services provide project designers with tools to define their own\nschemas to control and validate metadata applied to Projects, Folders, and\nFiles.\n"
    },
    {
      "name": "LogController",
      "description": "https://sagebionetworks."
    },
    {
      "name": "MembershipInvitationController",
      "description": "The Membership Invitation Services create, retrieve and delete\nmembership invitations.\n"
    },
    {
      "name": "MembershipRequestController",
      "description": "The Membership Request Services create, retrieve and delete\nmembership requests.\n"
    },
    {
      "name": "MessageController",
      "description": "."
    },
    {
      "name": "MigrationController",
      "description": "Controller for Migrating data between stacks."
    },
    {
      "name": "PrincipalController",
      "description": "A."
    },
    {
      "name": "ProjectSettingsController",
      "description": "The project settings services provide configuration options that can be applied to projects."
    },
    {
      "name": "SearchController",
      "description": "Search for Entities on Synapse."
    },
    {
      "name": "StatisticsController",
      "description": "Services that expose statistics computed by the backend."
    },
    {
      "name": "StorageReportController",
      "description": "Provides REST APIs for generating Storage Reports."
    },
    {
      "name": "SubscriptionController",
      "description": "."
    },
    {
      "name": "SynapseVersionInfoController"
    },
    {
      "name": "TableController",
      "description": "."
    },
    {
      "name": "TeamController",
      "description": "Teams are groups of users."
    },
    {
      "name": "TrashController",
      "description": "The recycle bin (or trash can) is the special folder that holds the deleted entities for users."
    },
    {
      "name": "UserGroupController"
    },
    {
      "name": "UserProfileController",
      "description": "Every Synapse user has an associated."
    },
    {
      "name": "V2WikiController",
      "description": "."
    },
    {
      "name": "VerificationController",
      "description": "Identity verification is a service offered by the Synapse Access and Compliance Team\nto add an additional layer of legitimacy to a user account, beyond the basic\nrequirements for creating an account in Synapse.\n"
    },
    {
      "name": "WikiController",
      "description": "."
    }
  ],
  "paths": {
    "/challenge": {
      "post": {
        "tags": [
          "ChallengeController"
        ],
        "summary": "Create a Challenge object, associated with a Project.",
        "description": "Create a Challenge object, associated with a Project.  A participant Team must\nbe specified.  To create a Challenge one must have CREATE permission on the\nassociated Project.\n",
        "operationId": "createChallenge",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Challenge"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Challenge response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Challenge"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Challenge": {
        "title": "Challenge",
        "type": "object",
        "properties": {
          "etag": {
            "type": "string",
            "description": "Synapse employs an Optimistic Concurrency Control (OCC) scheme to handle concurrent updates. Since the E-Tag changes every time an entity is updated it is used to detect when a client's current representation of an entity is out-of-date."
          },
          "projectId": {
            "type": "string",
            "description": "The ID of the Project the challenge is used with."
          },
          "participantTeamId": {
            "type": "string",
            "description": "The ID of the Team which users join to participate in the Challenge"
          },
          "id": {
            "type": "string",
            "description": "The ID of this Challenge object"
          }
        },
        "description": "Settings for a Challenge Project.",
        "example": {
          "etag": "32439w3qsdfw",
          "projectId": "syn22222",
          "participantTeamId": "333333",
          "id": "4321"
        }
      }
    }
  }
}