openapi: 3.0.1
info:
  title: Platform Repository Service
  contact:
    email: thomas.yu@sagebionetworks.org
  license:
    name: Apache-2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
  description: |
    Platform Repository Service - Sage Bionetworks Platform
  version: develop-SNAPSHOT
servers:
  - url: 'https://repo-prod.prod.sagebase.org/repo/v1'
tags:
  - name: Access Approval Services
    description: >
      The Access Approval services manage the fulfillment of Access
      Requirements,

      on a per-user basis.
  - name: Access Requirement Services
    description: >
      These services manage the Access Requirements/Restrictions (ARs) which may
      be placed on Entities,

      or Teams.
  - name: Certified User Services
    description: |
      To become a Synapse Certified User you must pass a test.
      The Synapse APIs include a service to provide the test and a service to
      submit a test result. There are also administrative services to retrieve
      the history of test submissions.
  - name: Challenge Services
    description: >
      A Challenge is a special object that supplements a project, providing
      additional features

      specific to challenges.
  - name: Discussion Services
    description: |
      Discussions in Synapse are captured in the Project's Forum.
      Each Project has a Forum. Each Forum has a set of Moderators.
      The Moderators manage the content of the Forum.
  - name: Docker Commit Services
    description: >
      These services relate to the 'commits' to Docker repositories.

      Note that create, update and delete of the Docker repositories themselves

      are done using the Entity Services, for external/unmanaged repositories,

      or by direct integration with the Docker registry, for managed Docker

      repositories. Tagged commits for both managed and external/unmanaged
      repositories

      may be retrieved using the 'listDockerTags' API included in this service.
  - name: Doi Services
    description: Provides REST APIs for managing Synapse DOIs.
  - name: Entity Bundle V2 Services
    description: >
      The Entity Bundle Services provide bundled access to Entities and their
      related data components.

      An EntityBundle can be used to create, fetch, or update an Entity and
      associated objects

      with a single web service request.
  - name: Entity Services
    description: >
      All data in Synapse is organize into Projects. These Projects can be
      further organized

      into hierarchical Folders. Finally, the data is then represented by
      FileEntities or

      Records (coming soon) that reside within Folders or directly within
      Projects.

      All these objects (Projects, Folders, FileEntities, and Records) are
      derived from

      a common object called Entity. The Entity Services provide the means to
      create, read,

      update, and delete Synapse Entities. There are also services for
      navigating the Entity

      hierarchies, setting Authorization rules, and Annotating Entities.
  - name: Evaluation Services
    description: >
      The Evaluation API is designed to support open-access data analysis and
      modeling

      challenges in Synapse. This framework provides tools for administrators to
      collect

      and analyze data models from Synapse users created for a specific goal or
      purpose.
  - name: Membership Invitation Services
    description: |
      The Membership Invitation Services create, retrieve and delete
      membership invitations.
  - name: Membership Request Services
    description: |
      The Membership Request Services create, retrieve and delete
      membership requests.
  - name: Message Services
    description: |
      Provides REST APIs for sending messages to other Synapse users and
      for commenting on Synapse entities.
  - name: Table Services
    description: >
      A Synapse TableEntity model object represents the metadata of a table.

      Each TableEntity is defined by a list of ColumnModel IDs. Use POST /column

      to create new ColumnModel objects. Each ColumnModel object is immutable,

      so to change a column of a table a new column must be added and the old
      column

      must be removed. TableEntities can be created, updated, read and deleted
      like

      any other entity.
  - name: Team Services
    description: Teams are groups of users.
  - name: Trash Services
    description: |
      The recycle bin (or trash can) is the special folder that holds the
      deleted entities for users.
  - name: User Profile Services
    description: Every Synapse user has an associated User Profile
paths:
  /challenge:
    post:
      tags:
        - Challenge Services
      summary: 'Create a Challenge object, associated with a Project.'
      description: >
        Create a Challenge object, associated with a Project.  A participant
        Team must

        be specified.  To create a Challenge one must have CREATE permission on
        the

        associated Project.
      operationId: createChallenge
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Challenge'
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Challenge'
    get:
      tags:
        - Challenge Services
      summary: List the Challenges for which the given participant is registered.
      description: |
        List the Challenges for which the given participant is registered.
        To be in the returned list the caller must have READ permission on the
        project associated with the Challenge.
      operationId: listChallengesForParticipant
      parameters:
        - name: participantId
          in: query
          description: Synapse user id
          required: true
          schema:
            type: integer
        - name: limit
          in: query
          description: Maximum number of results returned
          required: false
          schema:
            type: integer
            default: 10
            minimum: 10
            maximum: 100
        - name: offset
          in: query
          description: Index of the first result that must be returned
          required: false
          schema:
            type: integer
            default: 0
            minimum: 0
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChallengePagedResults'
  '/challenge/{challengeId}':
    parameters:
      - name: challengeId
        in: path
        description: The ID of the challenge.
        required: true
        schema:
          type: integer
    get:
      tags:
        - Challenge Services
      summary: Retrieve a Challenge given its ID.
      description: |
        Retrieve a Challenge given its ID.  To retrieve a
        Challenge one must have READ permission on the associated Project.
      operationId: getChallenge
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Challenge'
    put:
      tags:
        - Challenge Services
      summary: Update a Challenge.
      description: |
        Update a Challenge.  The caller must have UPDATE permission on the
        project associated with the Challenge.  It is not permitted to
        change the project associated with a Challenge.
      operationId: updateChallenge
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Challenge'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Challenge'
    delete:
      tags:
        - Challenge Services
      summary: Delete a Challenge.
      description: |
        Delete a Challenge.  The caller must have DELETE permission on the
        project associated with the Challenge.
      operationId: deleteChallenge
      responses:
        '204':
          description: The resource was deleted successfully.
  '/challenge/{challengeId}/challengeTeam':
    parameters:
      - name: challengeId
        in: path
        description: The ID of the challenge.
        required: true
        schema:
          type: integer
    get:
      tags:
        - Challenge Services
      summary: List the Teams registered for a Challenge.
      description: >
        List the Teams registered for a Challenge.  You must have READ
        permission

        in the associated Project to make this request.
      operationId: listChallengeTeams
      parameters:
        - name: limit
          in: query
          description: Maximum number of results returned
          required: false
          schema:
            type: integer
            default: 10
            minimum: 10
            maximum: 100
        - name: offset
          in: query
          description: Index of the first result that must be returned
          required: false
          schema:
            type: integer
            default: 0
            minimum: 0
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChallengeTeamPagedResults'
    post:
      tags:
        - Challenge Services
      summary: Register a Team with a Challenge.
      description: >
        Register a Team with a Challenge. You must be a member of the
        Challenge's

        participant Team (i.e. you must be already registered for the Challenge)

        and be an administrator on the Team being registered.
      operationId: createChallengeTeam
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChallengeTeam'
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChallengeTeam'
  '/challenge/{challengeId}/challengeTeam/{challengeTeamId}':
    parameters:
      - name: challengeId
        in: path
        description: The ID of the challenge.
        required: true
        schema:
          type: integer
      - name: challengeTeamId
        in: path
        required: true
        description: The ID of the challenge team.
        schema:
          type: integer
    put:
      tags:
        - Challenge Services
      summary: Update a Challenge Team.
      description: |
        Update a Challenge Team. You must be a member of the Challenge's
        participant Team (i.e. you must be already registered for the Challenge)
        and be an administrator on the associated Team.
      operationId: updateChallengeTeam
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChallengeTeam'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChallengeTeam'
  '/challenge/{challengeId}/participant':
    parameters:
      - name: challengeId
        in: path
        description: The ID of the challenge.
        required: true
        schema:
          type: integer
    get:
      tags:
        - Challenge Services
      summary: List the participants registered for a Challenge.
      description: |-
        List the participants registered for a Challenge.
        The caller must have READ permission on the
        project associated with the Challenge.
      operationId: listParticipantsInChallenge
      parameters:
        - name: affiliated
          in: query
          description: >
            If affiliated=true, return just participants affiliated with some

            registered Team.  If false, return those not affiliated with any
            registered Team.

            If omitted return all participants.
          schema:
            type: boolean
        - name: limit
          in: query
          description: Maximum number of results returned
          required: false
          schema:
            type: integer
            default: 10
            minimum: 10
            maximum: 100
        - name: offset
          in: query
          description: Index of the first result that must be returned
          required: false
          schema:
            type: integer
            default: 0
            minimum: 0
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedIds'
  '/challenge/{challengeId}/registratableTeam':
    parameters:
      - name: challengeId
        in: path
        description: The ID of the challenge.
        required: true
        schema:
          type: integer
    get:
      tags:
        - Challenge Services
      summary: List the Teams that caller can register for the Challenge.
      description: >
        List the Teams that caller can register for the Challenge, i.e. Teams on
        which

        the caller is an administrator and which are not already registered.

        The caller must have READ permission on the

        project associated with the Challenge to make this request.
      operationId: listRegistratableTeams
      parameters:
        - name: limit
          in: query
          description: Maximum number of results returned
          required: false
          schema:
            type: integer
            default: 10
            minimum: 10
            maximum: 100
        - name: offset
          in: query
          description: Index of the first result that must be returned
          required: false
          schema:
            type: integer
            default: 0
            minimum: 0
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedIds'
  '/challenge/{challengeId}/submissionTeams':
    parameters:
      - name: challengeId
        in: path
        description: The ID of the challenge.
        required: true
        schema:
          type: integer
    get:
      tags:
        - Challenge Services
      summary: >-
        List the Teams under which the given submitter may submit to the
        Challenge.
      description: >
        List the Teams under which the given submitter may submit to the
        Challenge, i.e. the Teams on which

        the user is a member and which are registered for the Challenge.
      operationId: listSubmissionTeams
      parameters:
        - name: limit
          in: query
          description: Maximum number of results returned
          required: false
          schema:
            type: integer
            default: 10
            minimum: 10
            maximum: 100
        - name: offset
          in: query
          description: Index of the first result that must be returned
          required: false
          schema:
            type: integer
            default: 0
            minimum: 0
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedIds'
  '/challengeTeam/{challengeTeamId}':
    parameters:
      - name: challengeTeamId
        in: path
        required: true
        description: The ID of the challenge team.
        schema:
          type: integer
    delete:
      tags:
        - Challenge Services
      summary: De-register a Team from a Challenge.
      description: >
        De-register a Team from a Challenge. You must be a member of the
        Challenge's

        participant Team (i.e. you must be already registered for the Challenge)

        and be an administrator on the Team being de-registered.
      operationId: deleteChallengeTeam
      responses:
        '204':
          description: The resource was deleted successfully.
  /doi:
    get:
      description: >
        Retrieves the DOI for the object and its associated DOI metadata.

        Note: this call calls an external API, which may impact performance

        To just retrieve the DOI association, see: <a
        href="${GET.doi.association}">GET /doi/association</a>
      operationId: getDoiV2
      parameters:
        - description: The ID of the object to retrieve
          in: query
          name: id
          required: true
          schema:
            type: string
        - description: The type of the object
          in: query
          name: type
          required: true
          schema:
            $ref: '#/components/schemas/ObjectType'
        - description: The version number of the object
          in: query
          name: version
          schema:
            type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Doi'
          description: Success
      summary: Retrieves the DOI for the object and its associated DOI metadata.
      tags:
        - Doi Services
  /doi/association:
    get:
      description: >
        Retrieves the DOI for the object.

        Note: this call only retrieves the DOI association, if it exists. To
        retrieve

        the metadata for the object,

        see <a href="${GET.doi}">GET /doi</a>'
      operationId: getDoiAssociation
      parameters:
        - description: The ID of the object to retrieve
          in: query
          name: id
          required: true
          schema:
            type: string
        - description: The type of the object
          in: query
          name: type
          required: true
          schema:
            $ref: '#/components/schemas/ObjectType'
        - description: The version number of the object
          in: query
          name: version
          schema:
            type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DoiAssociation'
          description: Success
      summary: Retrieves the DOI for the object.
      tags:
        - Doi Services
  /doi/async/start:
    post:
      description: >
        Asynchronously creates or updates a DOI in Synapse, with input metadata.

        Retrieve the results with

        <a href="${GET.doi.async.get.asyncToken}">GET
        /doi/async/get/{asyncToken}</a>.

        This call may fail if the external

        DataCite API is down. If the failure is recoverable, it will retry
        automatically.'
      operationId: startCreateOrUpdateDoi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DoiRequest'
        description: >
          A request containing a DOI and its metadata to associate with a
          Synapse

          object
        required: false
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncJobId'
          description: Success
      summary: 'Asynchronously creates or updates a DOI in Synapse, with input metadata.'
      tags:
        - Doi Services
  '/doi/async/get/{asyncToken}':
    get:
      description: |
        Get the results of a call to POST /doi/async/start
      operationId: getCreateOrUpdateDoiResults
      parameters:
        - description: The async job token from the create/update call
          in: path
          name: asyncToken
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DoiResponse'
          description: Success
      summary: Get the results of a call to POST /doi/async/start
      tags:
        - Doi Services
  /doi/locate:
    get:
      description: |
        Retrieves the Synapse web portal URL to the object entered.
        Note: This call does not check to see if the object exists in Synapse.
      operationId: locate
      parameters:
        - description: The ID of the object to retrieve
          in: query
          name: id
          required: true
          schema:
            type: string
        - description: Whether to return the URL or redirect to the URL
          in: query
          name: redirect
          schema:
            default: true
            type: boolean
        - description: The type of the object
          in: query
          name: type
          required: true
          schema:
            $ref: '#/components/schemas/ObjectType'
        - description: The version number of the object
          in: query
          name: version
          schema:
            type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/String'
          description: Success
      summary: Retrieves the Synapse web portal URL to the object entered.
      tags:
        - Doi Services
  /entity:
    post:
      description: >
        Create a new Entity. This method is used to create Projects, Folders,

        FileEntities and Records (coming soon). The passed request body should

        contain the following fields:


        <ul>


        <li>name - Give your new entity a Name. <b>Note:</b> A name must be
        unique

        within the given parent, similar to a file in a folder.</li>


        <li>parentId - The ID of the parent Entity, such as a Folder or Project.
        This

        field should be excluded when creating a Project.</li>


        <li>concreteType - Indicates the type of Entity to create. The value
        should

        be one of the following: org.sagebionetworks.repo.model.Project,

        org.sagebionetworks.repo.model.Folder, or

        org.sagebionetworks.repo.model.FileEntity</li>


        </ul>


        <p>


        Note: To create an Entity the caller must be granted the

        <a
        href="${org.sagebionetworks.repo.model.ACCESS_TYPE}">ACCESS_TYPE.CREATE</a>

        on the parent Entity. Any authenticated caller can

        create a new Project (with parentId=null).


        </p>


        <p>


        <b>Service Limits</b>


        <table border="1">


        <tr>


        <th>resource</th>


        <th>limit</th>


        </tr>


        <tr>


        <td>The maximum number of children for a single parent entity</td>


        <td>10 K</td>


        </tr>


        </table>


        </p>
      operationId: createEntity
      parameters:
        - description: >
            To track the Provenance of an Entity create, include the

            ID of the <a
            href="${org.sagebionetworks.repo.model.provenance.Activity}">Activity</a>

            that was created to track the change. For

            more information see: <a href="${POST.activity}">POST /activity</a>.

            You must be the creator of the <a
            href="${org.sagebionetworks.repo.model.provenance.Activity}">Activity</a>
            used here.'
          in: query
          name: generatedBy
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Entity'
        required: false
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Entity'
          description: Success
      summary: Create a new Entity.
      tags:
        - Entity Services
  '/entity/{id}':
    parameters:
      - description: The ID of an Entity.
        in: path
        name: id
        required: true
        schema:
          type: string
    delete:
      description: >
        Moves an entity in the trash can, if the skipTrashCan is set to true

        will flag the entity for purge and it will be deleted as soon as
        possible.


        <p>


        Note: To delete an Entity the caller must be granted the


        <a
        href="${org.sagebionetworks.repo.model.ACCESS_TYPE}">ACCESS_TYPE.DELETE</a>
        on the Entity.


        </p>
      operationId: deleteEntity
      parameters:
        - description: |
            If true the entity will be flag for priority purge and
            deleted as soon as possible
          in: query
          name: skipTrashCan
          schema:
            type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Empty'
        required: false
      responses:
        '204':
          description: The resource has been deleted
      summary: Deletes an Entity
      tags:
        - Entity Services
    get:
      description: >
        Get an Entity using its ID.


        <p>

        Note: To get an Entity the caller must be granted the

        <a href="${org.sagebionetworks.repo.model.ACCESS_TYPE}"
        >ACCESS_TYPE.READ</a>

        on the Entity.


        </p>
      operationId: getEntity
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Entity'
          description: Success
      summary: Get an Entity
      tags:
        - Entity Services
    put:
      description: >
        Update an entity.


        <p>


        If the Entity is a FileEntity and the dataFileHandleId fields is set to
        a new

        value, then a new version will automatically be created for this update
        if the

        MD5 of the new file handle does not match the MD5 of the existing file
        handle

        or if the file handles do not have an MD5 set. You can also force the
        creation of a

        new version using the newVersion parameter


        (see below).


        </p>


        <p>


        Synapse employs an Optimistic Concurrency Control (OCC) scheme to handle

        concurrent updates. Each time an Entity is updated a new etag will be
        issued

        to the Entity. When an update is request, Synapse will compare the etag
        of

        the passed Entity with the current etag of the Entity. If the etags do
        not

        match, then the update will be rejected with a PRECONDITION_FAILED (412)

        response. When this occurs the caller should get the latest copy of the

        Entity (see: <a href="${GET.entity.id}">GET /entity/{id}</a>) and
        re-apply

        any changes to the object, then re-attempt the Entity update. This
        ensure the

        caller has any changes applied by other users before applying their own

        changes.


        </p>


        <p>


        Note: To update an Entity the caller must be granted the

        <a
        href="${org.sagebionetworks.repo.model.ACCESS_TYPE}">ACCESS_TYPE.UPDATE</a>
        on the Entity.


        </p>


        <p>


        <b>Service Limits</b>


        <table border="1">


        <tr>


        <th>resource</th>


        <th>limit</th>


        </tr>


        <tr>


        <td>The maximum number of children for a single parent entity</td>


        <td>10 K</td>


        </tr>


        </table>


        </p>
      operationId: updateEntity
      parameters:
        - description: >
            To track the Provenance of an Entity update, include the

            ID of the <a
            href="${org.sagebionetworks.repo.model.provenance.Activity}">Activity</a>
            that was created to track the change. For

            more information see: <a href="${POST.activity}">POST /activity</a>.

            You must be the creator of the

            <a
            href="${org.sagebionetworks.repo.model.provenance.Activity}">Activity</a>
            used here.'
          in: query
          name: generatedBy
          schema:
            type: string
        - description: >
            To force the creation of a new version for a

            <a
            href="${org.sagebionetworks.repo.model.VersionableEntity}">versionable</a>

            entity such as a <a href=
            "${org.sagebionetworks.repo.model.FileEntity}">FileEntity</a>,

            include this optional parameter with a value set to true (i.e.
            newVersion=true).

            This parameter is ignored for entities of type


            <a href="${org.sagebionetworks.repo.model.table.Table}">Table</a>

            (See <a href="${POST.entity.id.table.snapshot}">POST
            /entity/{id}/table/snapshot</a>

            instead)
          in: query
          name: newVersion
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Entity'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Entity'
          description: Success
      summary: Update an entity.
      tags:
        - Entity Services
  '/entity/{id}/access':
    parameters:
      - description: The ID of an Entity.
        in: path
        name: id
        required: true
        schema:
          type: string
    get:
      description: >
        Determine if the caller have a given permission on a given Entity.


        <p>


        A User's permission on an Entity is a calculation based several factors

        including the permission granted by the Entity's ACL and the User's
        group

        membership. There might also be extra requirement for an Entity, such as

        special terms-of-use or special restrictions for sensitive data. This
        means a

        client cannot accurately calculate a User's permission on an Entity
        simply by

        inspecting the Entity's ACL. Instead, all clients should use this method
        to

        get the calculated permission a User has on an Entity.

        </p>
      operationId: hasAccess
      parameters:
        - description: >
            The permission to check. Must be from: 

            <a
            href="${org.sagebionetworks.repo.model.ACCESS_TYPE}">ACCESS_TYPE</a>'
          in: query
          name: accessType
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Empty'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BooleanResult'
          description: Success
      summary: Determine if the caller have a given permission on a given Entity.
      tags:
        - Entity Services
  '/entity/{id}/accessRequirement':
    parameters:
      - description: The ID of an Entity.
        in: path
        name: id
        required: true
        schema:
          type: string
    get:
      description: |
        Retrieve paginated list of ALL Access Requirements associated with
        an entity.
      operationId: getEntityAccessRequirements
      parameters:
        - description: |
            Limits the size of the page returned. For example, a page size
            of 10 require limit = 10. The maximum limit for this call is 50.
          in: query
          name: limit
          schema:
            type: integer
            minimum: 10
            maximum: 50
        - description: >
            The index of the pagination offset. For a page size of 10, the

            first page would be at offset = 0, and the second page would be at
            offset =

            10.
          in: query
          name: offset
          schema:
            type: integer
            minimum: 0
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResultsOfAccessRequirement'
          description: Success
      summary: >-
        Retrieve paginated list of ALL Access Requirements associated with an
        entity.
      tags:
        - Access Requirement Services
  '/entity/{id}/acl':
    parameters:
      - description: The ID of an Entity.
        in: path
        name: id
        required: true
        schema:
          type: string
    delete:
      description: >
        Delete the Access Control List (ACL) for a given Entity.


        <p>


        By default, Entities such as FileEntity and Folder inherit their
        permission

        from their containing Project. For such Entities the Project is the
        Entity's

        'benefactor'. This permission inheritance can be overridden by creating
        an

        ACL for the Entity. When this occurs the Entity becomes its own
        benefactor

        and all permission are determined by its own ACL.


        </p>


        <p>


        If the ACL of an Entity is deleted, then its benefactor will
        automatically be

        set to its parent''s benefactor. The ACL for a Project cannot be
        deleted.


        </p>


        <p>


        Note: The caller must be granted

        <a
        href="${org.sagebionetworks.repo.model.ACCESS_TYPE}">ACCESS_TYPE.CHANGE_PERMISSIONS</a>

        on the Entity to call this method.


        </p>
      operationId: deleteEntityAcl
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Empty'
        required: false
      responses:
        '204':
          description: This resource has been deleted.
      summary: Delete the Access Control List (ACL) for a given Entity.
      tags:
        - Entity Services
    get:
      description: >
        Get the Access Control List (ACL) for a given entity.


        <p>

        Note: If this method is called on an Entity that is inheriting its
        permission

        from another Entity a NOT_FOUND (404) response will be generated. The
        error

        response message will include the Entity''s benefactor ID.

        </p>
      operationId: getEntityAcl
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessControlList'
          description: Success
      summary: Get the Access Control List (ACL) for a given entity.
      tags:
        - Entity Services
    post:
      description: >
        Create a new Access Control List (ACL), overriding inheritance.


        <p>

        By default, Entities such as FileEntity and Folder inherit their
        permission

        from their containing Project. For such Entities the Project is the
        Entity's

        'benefactor'. This permission inheritance can be overridden by creating
        an

        ACL for the Entity. When this occurs the Entity becomes its own
        benefactor

        and all permission are determined by its own ACL.


        </p>


        <p>


        If the ACL of an Entity is deleted, then its benefactor will
        automatically be

        set to its parent's benefactor.


        </p>


        <p>


        Note: The caller must be granted


        <a
        href="${org.sagebionetworks.repo.model.ACCESS_TYPE}">ACCESS_TYPE.CHANGE_PERMISSIONS</a>

        on the Entity to call this method.


        </p>
      operationId: createEntityAcl
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccessControlList'
        required: false
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessControlList'
          description: Success
      summary: 'Create a new Access Control List (ACL), overriding inheritance.'
      tags:
        - Entity Services
    put:
      description: >
        Update an Entity's ACL.


        <p>


        Note: The caller must be granted


        <a
        href="${org.sagebionetworks.repo.model.ACCESS_TYPE}">ACCESS_TYPE.CHANGE_PERMISSIONS</a>

        on the Entity to call this method.


        </p>
      operationId: updateEntityAcl
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccessControlList'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessControlList'
          description: Success
      summary: Update an Entity's ACL.
      tags:
        - Entity Services
  '/entity/{id}/annotations2':
    parameters:
      - description: The ID of an Entity.
        in: path
        name: id
        required: true
        schema:
          type: string
    get:
      description: >
        Get the annotations for an entity.


        <p>


        Note: The caller must be granted the

        <a href="${org.sagebionetworks.repo.model.ACCESS_TYPE}"
        >ACCESS_TYPE.READ</a>

        on the Entity, to get its annotations.


        </p>
      operationId: getEntityAnnotations
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Annotations_v2'
          description: Success
      summary: Get the annotations for an entity.
      tags:
        - Entity Services
    put:
      description: >
        Update an Entity's annotations.


        <p>


        Note: The caller must be granted the

        <a
        href="${org.sagebionetworks.repo.model.ACCESS_TYPE}">ACCESS_TYPE.UPDATE</a>

        on the Entity, to update its annotations.

        </p>
      operationId: updateEntityAnnotations
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Annotations_v2'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Annotations_v2'
          description: Success
      summary: Update an Entity's annotations.
      tags:
        - Entity Services
  '/entity/{id}/benefactor':
    parameters:
      - description: The ID of an Entity.
        in: path
        name: id
        required: true
        schema:
          type: string
    get:
      description: >
        Get an Entity's benefactor.


        <p>


        The term 'benefactor' is used indicate which Entity an Entity inherits
        is ACL

        from. For example, a newly created Project will have its own ACL and

        therefore, it will be its own benefactor. A Folder will inherit its ACL
        (by

        default) from its containing Project so the Project will be the Folder's

        benefactor. This method will return the EntityHeader of an Entity's

        benefactor.

        </p>
      operationId: getEntityBenefactor
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Empty'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityHeader'
          description: Success
      summary: Get an Entity's benefactor.
      tags:
        - Entity Services
  '/entity/{id}/bundle2':
    parameters:
      - description: The ID of an Entity.
        in: path
        name: id
        required: true
        schema:
          type: string
    post:
      description: Get an entity and related data with a single POST.
      operationId: getEntityBundle
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EntityBundleRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityBundle_v2'
          description: Success
      summary: Get an entity and related data with a single POST.
      tags:
        - Entity Bundle V2 Services
    put:
      description: |
        Update an entity and associated components with a single PUT.
        Specifically, this operation supports update of an Entity, its
        Annotations, and its ACL.
        Upon successful creation, an EntityBundle is returned containing the
        requested components, as defined by the partsMask in the request object.
      operationId: updateEntityBundle
      parameters:
        - in: query
          name: generatedBy
          description: Generated by
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EntityBundleCreate_v2'
        description: |
          The EntityBundleCreate object containing the Entity and Annotations
          to update.
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityBundle_v2'
          description: Success
      summary: Update an entity and associated components with a single PUT.
      tags:
        - Entity Bundle V2 Services
  '/entity/{id}/challenge':
    parameters:
      - name: id
        in: path
        description: Synapse Project id
        required: true
        schema:
          type: string
    get:
      tags:
        - Challenge Services
      summary: Retrieve a Challenge given the ID of its associated Project.
      description: >
        Retrieve a Challenge given the ID of its associated Project.  To
        retrieve a

        Challenge one must have READ permission on the Project.
      operationId: getChallengeByProjectId
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Challenge'
  '/entity/{id}/column':
    parameters:
      - description: The ID of a Table.
        in: path
        name: id
        required: true
        schema:
          type: string
    get:
      description: >
        Given the ID of a <a
        href="${org.sagebionetworks.repo.model.table.TableEntity}">TableEntity</a>,

        get its list of
        <ahref="${org.sagebionetworks.repo.model.table.ColumnModel}">ColumnModels</a>

        that are currently assigned to the table.


        <p>


        <b>Service Limits</b>


        <table border="1">


        <tr>


        <th>resource</th>


        <th>limit</th>


        </tr>


        <tr>


        <td>The maximum frequency this method can be called</td>


        <td>6 calls per minute</td>


        </tr>


        </table>


        </p>
      operationId: getColumnForTable
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedColumnModels'
          description: Success
      summary: Given the ID of a.
      tags:
        - Table Services
  '/entity/{id}/datatype':
    parameters:
      - description: The ID of an Entity.
        in: path
        name: id
        required: true
        schema:
          type: string
    put:
      description: >
        Change the <a href="${org.sagebionetworks.repo.model.DataType}"
        >DataType</a>

        of the given entity. The entity's DataType controls how the entity can
        be

        accessed. For example, an entity's DataType must be set to 'open_data'
        in

        order for anonymous to be allowed to access its contents.


        <p>


        Note: The caller must be a member of the 'Synapse Access and Compliance
        Team'

        (id=464532) in order to change an Entity's type to 'OPEN_DATA'. The
        caller

        must be granted UPDATED on the Entity to change the its type to any
        other

        value.


        </p>'
      operationId: changeEntityDataType
      parameters:
        - in: query
          name: type
          required: true
          description: Type of data
          schema:
            enum:
              - OPEN_DATA
              - SENSITIVE_DATA
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataTypeResponse'
          description: Success
      summary: Change the.
      tags:
        - Entity Services
  '/entity/{id}/dockerCommit':
    parameters:
      - description: the ID of the Docker repository entity
        in: path
        name: id
        required: true
        schema:
          type: string
    post:
      description: >
        Add a commit (tag and digest) for an external/unmanaged Docker
        repository.

        (Commits for managed repositories are added via direct integration with
        the

        Synapse Docker registry.)
      operationId: addDockerCommit
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DockerCommit'
        description: the new tag/digest pair for the repository
        required: false
      responses:
        '204':
          description: Success
      summary: >-
        Add a commit (tag and digest) for an external/unmanaged Docker
        repository.
      tags:
        - Docker Commit Services
  '/entity/{id}/dockerTag':
    parameters:
      - description: the ID of the Docker repository entity
        in: path
        name: id
        required: true
        schema:
          type: string
    get:
      description: >
        List the tagged commits (tag/digest pairs) for the given Docker
        repository.  Only

        the most recent digest for each tag is returned since,

        following Docker's convention, a tag may be reassigned

        to a newer commit. The list may be sorted by date or tag.  The default
        is to sort

        by date, descending (newest first).'
      operationId: listDockerTags
      parameters:
        - in: query
          name: ascending
          description: Ascending
          schema:
            default: false
            type: boolean
        - description: 'pagination parameter, optional (default is 20)'
          in: query
          name: limit
          schema:
            default: 20
            type: integer
            minimum: 0
        - description: 'pagination parameter, optional (default is 0)'
          in: query
          name: offset
          schema:
            default: 0
            type: integer
            minimum: 0
        - in: query
          name: sort
          description: Sort results
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResultsOfDockerCommit'
          description: Success
      summary: >-
        List the tagged commits (tag/digest pairs) for the given Docker
        repository.
      tags:
        - Docker Commit Services
  '/entity/{id}/evaluation':
    parameters:
      - description: the ID of the project
        in: path
        name: id
        required: true
        schema:
          type: string
    get:
      description: >
        Gets Evaluations tied to a project.

        <b>Note:</b> The response will contain only those Evaluations on which
        the caller

        is granted the <a
        href="${org.sagebionetworks.repo.model.ACCESS_TYPE}">ACCESS_TYPE.READ</a>

        permission, unless specified otherwise with the accessType parameter.
      operationId: getEvaluationsByContentSourcePaginated
      parameters:
        - description: >
            The type of access for the user to filter for, optional and defaults

            to <a
            href="${org.sagebionetworks.repo.model.ACCESS_TYPE}">ACCESS_TYPE.READ</a>
          in: query
          name: accessType
          schema:
            $ref: '#/components/schemas/ACCESS_TYPE'
        - description: |
            If 'true' then return only those evaluations with rounds defined
            and for which the current time is in one of the rounds.
          in: query
          name: activeOnly
          schema:
            default: false
            type: boolean
        - description: |
            an optional, comma-delimited list of evaluation IDs to which the
            response is limited
          in: query
          name: evaluationIds
          schema:
            type: string
        - description: |
            Limits the number of entities that will be fetched for this
            page. When null it will default to 10.
          in: query
          name: limit
          schema:
            default: 10
            type: integer
            minimum: 0
        - description: |
            The offset index determines where this page will start from.
            An index of 0 is the first entity. When null it will default
            to 0.
          in: query
          name: offset
          schema:
            default: 0
            type: integer
            minimum: 0
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResultsOfEvaluation'
          description: Success
      summary: Gets Evaluations tied to a project.
      tags:
        - Evaluation Services
  '/entity/{id}/filehandles':
    parameters:
      - description: The ID of a File Entity.
        in: path
        name: id
        required: true
        schema:
          type: string
    get:
      description: >
        Get the FileHandles of the file currently associated with the current

        version of the Entity.


        <p>

        If a preview exists for the file then the handle of the preview and the
        file

        will be returned with this call.

        </p>
      operationId: getEntityFileHandles
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileHandleResults'
          description: Success
      summary: |
        Get the FileHandles of the file currently associated with the current
        version of the Entity.
      tags:
        - Entity Services
  '/entity/{id}/filepreview':
    parameters:
      - description: The ID of a File Entity.
        in: path
        name: id
        required: true
        schema:
          type: string
    get:
      description: >
        Get the URL of the preview file associated with the current version

        of a FileEntity.


        <p>

        Note: This call will result in a HTTP temporary redirect (307), to the
        actual

        file URL if the caller meets all of the download requirements.

        </p>
      operationId: getFilePreviewUrl
      parameters:
        - description: |
            When set to false, the URL will be returned as text/plain
            instead of redirecting.
          in: query
          name: redirect
          schema:
            type: boolean
        - in: query
          description: Status
          name: status
          schema:
            type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/String'
          description: Success
      summary: |
        Get the URL of the preview file associated with the current version of
        a FileEntity.
      tags:
        - Entity Services
  '/entity/{id}/generatedBy':
    parameters:
      - description: The ID of an Entity.
        in: path
        name: id
        required: true
        schema:
          type: string
    delete:
      description: |
        Deletes the activity relationship for the current version of an
        Entity.
      operationId: deleteActivity
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Empty'
        required: false
      responses:
        '204':
          description: This resource has been deleted
      summary: Deletes the activity relationship for the current version of an Entity.
      tags:
        - Entity Services
    get:
      description: Get an existing activity for the current version of an Entity.
      operationId: getActivity
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Empty'
        description: Get an existing activity for the current version of an Entity.
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Activity'
          description: Success
      summary: Get an existing activity for the current version of an Entity.
      tags:
        - Entity Services
    put:
      description: Sets the generatedBy relationship for the current version of an Entity.
      operationId: updateActivityForEntity
      parameters:
        - description: >
            The id of the activity to connect to the entity. You must

            be the creator of the

            <a
            href="${org.sagebionetworks.repo.model.provenance.Activity}">Activity</a>
            used here.'
          in: query
          name: generatedBy
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Empty'
        description: >-
          Sets the generatedBy relationship for the current version of an
          Entity.
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Activity'
          description: Success
      summary: Sets the generatedBy relationship for the current version of an Entity.
      tags:
        - Entity Services
  '/entity/{id}/json':
    parameters:
      - description: The ID of an Entity.
        in: path
        name: id
        required: true
        schema:
          type: string
    get:
      description: >
        Get the raw JSON for the given entity. The resulting JSON can be used

        for the validation of a entity against a

        <a
        href="${org.sagebionetworks.repo.model.schema.JsonSchema}">JsonSchema</a>.


        <p>


        Note: The caller must be granted the

        <a href="${org.sagebionetworks.repo.model.ACCESS_TYPE}"
        >ACCESS_TYPE.READ</a>

        permission on the Entity.


        </p>
      operationId: getEntityJson
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONObject'
          description: Success
      summary: Get the raw JSON for the given entity.
      tags:
        - Entity Services
    put:
      description: >
        Update the annotations of an entity using the raw JSON of the entity.


        <p>


        See: <a href="${GET.entity.id.json}">GET entity/{id}/json</a> to get the
        JSON

        of an entity.


        </p>


        <p>

        Note: The caller must be granted the

        <a href="${org.sagebionetworks.repo.model.ACCESS_TYPE}"
        >ACCESS_TYPE.UPDATE and ACCESS_TYPE.READ</a>

        permission on the Entity.

        </p>'
      operationId: updateEntityWithJson
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JSONObject'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONObject'
          description: Success
      summary: Update the annotations of an entity using the raw JSON of the entity.
      tags:
        - Entity Services
  '/entity/{id}/lockAccessRequirement':
    parameters:
      - description: The ID of an Entity.
        in: path
        name: id
        required: true
        schema:
          type: string
    post:
      description: >
        Add a temporary access restriction that prevents access pending review

        by the Synapse Access and Compliance Team.

        This service may be used only by an administrator of the specified
        entity.
      operationId: createLockAccessRequirement
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessRequirement'
          description: Success
      summary: |
        Add a temporary access restriction that prevents access pending review
        by the Synapse ACT.
      tags:
        - Access Requirement Services
  '/entity/{id}/message':
    parameters:
      - description: The ID of an Entity.
        in: path
        name: id
        required: true
        schema:
          type: string
    post:
      description: |
        Adds the owner of the given entity as an additional recipient of the
        message.
      operationId: sendMessageToEntityOwner
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessageToUser'
        required: false
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageToUser'
          description: Success
      summary: >-
        Adds the owner of the given entity as an additional recipient of the
        message.
      tags:
        - Message Services
  '/entity/{id}/path':
    parameters:
      - description: The ID of an Entity.
        in: path
        name: id
        required: true
        schema:
          type: string
    get:
      description: >
        Get the full path of an Entity as a List of EntityHeaders. The first

        EntityHeader will be the Root Entity, and the last EntityHeader will be
        the

        requested Entity.
      operationId: getEntityPath
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityPath'
          description: Success
      summary: Get the full path of an Entity as a List of EntityHeaders.
      tags:
        - Entity Services
  '/entity/{id}/permissions':
    parameters:
      - description: The ID of an Entity.
        in: path
        name: id
        required: true
        schema:
          type: string
    get:
      description: >
        Get the list of permission that the caller has on a given Entity.


        A User's permission on an Entity is a calculation based several factors

        including the permission granted by the Entity's ACL and the User's
        group

        membership. There might also be extra requirement for an Entity, such as

        special terms-of-use or special restrictions for sensitive data. This
        means a

        client cannot accurately calculate a User's permission on an Entity
        simply by

        inspecting the Entity''s ACL. Instead, all clients should use this
        method to

        get the calculated permission a User has on an Entity.
      operationId: getUserEntityPermissions
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserEntityPermissions'
          description: Success
      summary: Get the list of permission that the caller has on a given Entity.
      tags:
        - Entity Services
  '/entity/{id}/schema/binding':
    parameters:
      - in: path
        name: id
        description: The ID of an Entity.
        required: true
        schema:
          type: string
    delete:
      description: |
        Clear the bound JSON schema from this Entity. The schema will no longer
        be used to validate this Entity or its children.

        Note: The caller must be granted the DELETE permission on the Entity.
      operationId: clearBoundSchema
      responses:
        '204':
          description: The resource has been deleted
      summary: Clear the bound JSON schema from this Entity.
      tags:
        - Entity Services
    get:
      description: >
        Get information about a JSON schema bound to an Entity. Note: Any

        child Entity that does not have a bound schema will inherit the first
        bound schema

        found in its hierarchy.


        Note: The caller must be granted the READ permission on the Entity.
      operationId: getBoundJsonSchema
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonSchemaObjectBinding'
          description: Success
      summary: Get information about a JSON schema bound to an Entity.
      tags:
        - Entity Services
    put:
      description: >
        Bind a JSON schema to an Entity. The bound schema will be used to
        validate

        the Entity''s metadata (annotations). Any child Entity that does not
        have a

        bound schema will inherit the first bound schema found in its hierarchy.


        Only a single schema can be bound to an Entity at a time. If you have
        more

        than one schema to bind to an Entity you will need to create and bind a

        single composition schema using keywords such as 'anyOf', 'allOf' or
        'oneOf'

        that defines how the schemas should be used for validation.


        Note: The caller must be granted the UPDATE ermission on the Entity to
        bind.
      operationId: bindJsonSchemaToEntity
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BindSchemaToEntityRequest'
        description: The request identifies the JSON schema to bind.
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonSchemaObjectBinding'
          description: Success
      summary: Bind a JSON schema to an Entity.
      tags:
        - Entity Services
  '/entity/{id}/schema/validation':
    parameters:
      - description: The ID of the Entity.
        in: path
        name: id
        required: true
        schema:
          type: string
    get:
      description: >
        Get the validation results of an Entity against its bound JSON schema.

        The validation of an Entity against its bound schema is automatic and
        eventually

        consistent. The validation results include the etag of the Entity at the
        time

        of the last validation. If the returned etag does not match the current
        etag

        of the Entity then the results should be considered out-of-date. If an
        Entity

        has not been validated for the first time, or if the Entity does not
        have a

        bound schema, this method will return a 404 (not-found). Keep checking
        for

        the latest validation results.


        Note: The caller must be granted the READ permission on the Entity.
      operationId: getEntitySchemaValidationResults
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationResults'
          description: Success
      summary: Get the validation results of an Entity against its bound JSON schema.
      tags:
        - Entity Services
  '/entity/{id}/schema/validation/invalid':
    parameters:
      - description: The ID of the container Entity.
        in: path
        name: id
        required: true
        schema:
          type: string
    post:
      description: >
        Get a single page of invalid JSON schema validation results for a

        container Entity (Project or Folder). The validation of an Entity
        against its bound

        schema is automatic and eventually consistent. The validation results
        include

        the etag of the Entity at the time of the last validation. If the
        returned

        etag does not match the current etag of the Entity then the results
        should be

        considered out-of-date.


        Note: The caller must be granted the READ permission on the container
        Entity.

        The results will only include children that the caller has the READ
        permission on.
      operationId: getInvalidValidationResults
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListValidationResultsRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListValidationResultsResponse'
          description: Success
      summary: >
        Get a single page of invalid JSON schema validation results for a
        container

        Entity (Project or Folder).
      tags:
        - Entity Services
  '/entity/{id}/schema/validation/statistics':
    parameters:
      - description: The ID of the container Entity.
        in: path
        name: id
        required: true
        schema:
          type: string
    get:
      description: >
        Get the The summary statistics of the JSON schema validation results

        for a single container Entity such as a Project or Folder. Only direct
        children of

        the container are included in the results. The statistics include the
        total

        number of children in the container, and the counts for both the invalid
        and

        valid children. If an Entity has not been validated for the first time,
        or it

        does not have bound schema it will be counted as 'unknown'.


        The validation of an Entity against its bound schema is automatic and

        eventually consistent. Keep checking this method to get the latest
        validation

        statistics for the given container.


        Note: The caller must be granted the READ permission on the container
        Entity.

        The resulting statistics will only include children that the caller has
        the READ permission on.
      operationId: getEntitySchemaValidationStatistics
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationSummaryStatistics'
          description: Success
      summary: |
        Get the summary statistics of the JSON schema validation results for
        a single container Entity such as a Project or Folder.
      tags:
        - Entity Services
  '/entity/{id}/sts':
    parameters:
      - description: |
          The ID of the Folder with an STS-enabled storage location.
        in: path
        name: id
        required: true
        schema:
          type: string
    get:
      description: >
        Gets the temporary S3 credentials from STS for the given entity. These

        credentials are only good for the bucket and base key specified by the

        returned credentials and expire 12 hours after this API is called.


        The specified entity must be a folder with an STS-enabled storage
        location.

        If that storage location is external storage, you may request read-only
        or

        read-write permissions. If that storage location is Synapse storage, you
        must

        request read-only permissions.
      operationId: getTemporaryCredentialsForEntity
      parameters:
        - description: |
            Read-only or read-write permissions.
          in: query
          name: permission
          required: true
          schema:
            enum:
              - read_only
              - read_write
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StsCredentials'
          description: Success
      summary: Gets the temporary S3 credentials from STS for the given entity.
      tags:
        - Entity Services
  '/entity/{id}/table/column/{columnId}/row/{rowId}/version/{versionNumber}/file':
    parameters:
      - in: path
        name: columnId
        description: The ID of the Table column
        required: true
        schema:
          type: string
      - description: The ID of the FileEntity to get.
        in: path
        name: id
        required: true
        schema:
          type: string
      - in: path
        name: rowId
        description: The ID of the Table Row
        required: true
        schema:
          type: number
      - in: path
        name: versionNumber
        description: The version of the Table Row
        required: true
        schema:
          type: number
    get:
      description: |
        Get the actual URL of the file associated with a specific version
        of a row and file handle column.

        Note: This call will result in a HTTP temporary redirect (307), to the
        actual file URL if the caller meets all of the download requirements.
      operationId: fileRedirectUrlForRow
      parameters:
        - description: |
            When set to false, the URL will be returned as text/plain
            instead of redirecting.
          in: query
          name: redirect
          schema:
            type: boolean
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/String'
          description: Success
      summary: |
        Get the actual URL of the file associated with a specific version of a
        row and file handle column.
      tags:
        - Table Services
  '/entity/{id}/table/column/{columnId}/row/{rowId}/version/{versionNumber}/filepreview':
    parameters:
      - in: path
        name: columnId
        description: The ID of the Table column
        required: true
        schema:
          type: string
      - description: The ID of the FileEntity to get.
        in: path
        name: id
        required: true
        schema:
          type: string
      - in: path
        name: rowId
        description: The ID of the Table Row
        required: true
        schema:
          type: number
      - in: path
        name: versionNumber
        description: The version of the Table Row
        required: true
        schema:
          type: number
    get:
      description: |
        Get the preview URL of the file associated with a specific version
        of a row and file handle column.

        Note: This call will result in a HTTP temporary redirect (307), to the
        actual file URL if the caller meets all of the download requirements.
      operationId: filePreviewRedirectUrlForRow
      parameters:
        - description: |
            When set to false, the URL will be returned as text/plain
            instead of redirecting.
          in: query
          name: redirect
          schema:
            type: boolean
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/String'
          description: Success
      summary: |
        Get the preview URL of the file associated with a specific version of
        a row and file handle column.
      tags:
        - Table Services
  '/entity/{id}/table/download/csv/async/get/{asyncToken}':
    parameters:
      - description: The ID of a TableEntity.
        in: path
        name: id
        required: true
        schema:
          type: string
      - in: path
        description: Async Token
        name: asyncToken
        required: true
        schema:
          type: string
    get:
      description: >
        Asynchronously get the results of a csv download started with POST


        Note: When the result is not ready yet, this method will return a status

        code of 202 (ACCEPTED) and the response body will be a
        AsynchronousJobStatus
      operationId: csvDownloadAsyncGet
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DownloadFromTableResult'
          description: Success
      summary: Asynchronously get the results of a csv download started with.
      tags:
        - Table Services
  '/entity/{id}/table/download/csv/async/start':
    parameters:
      - description: The ID of a TableEntity.
        in: path
        name: id
        required: true
        schema:
          type: string
    post:
      description: >
        Asynchronously start a csv download. Use the returned job id and 

        /entity/{id}/table/download/csv/async/get to get the results of the
        query
      operationId: csvDownloadAsyncStart
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DownloadFromTableRequest'
        required: false
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncJobId'
          description: Success
      summary: Asynchronously start a csv download.
      tags:
        - Table Services
  '/entity/{id}/table/filehandles':
    parameters:
      - description: The ID of a TableEntity.
        in: path
        name: id
        required: true
        schema:
          type: string
    post:
      description: >
        This method is used to get file handle information for rows in a

        TableEntity. The columns in the passed in RowReferenceSet need to be

        FILEHANDLEID columns and the rows in the passed in RowReferenceSet need

        to exists (a 400 will be returned if a row ID is provided that does not

        actually exist). The order of the returned rows of file handles is the

        same as the order of the rows requested, and the order of the file

        handles in each row is the same as the order of the columns requested.


        Note: The caller must have the READ permission on the TableEntity to
        make this call.


        <b>Service Limits</b>


        <table border="1">


        <tr>


        <th>resource</th>


        <th>limit</th>


        </tr>


        <tr>


        <td>The maximum frequency this method can be called</td>


        <td>1 calls per second</td>


        </tr>


        </table>
      operationId: getFileHandles
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RowReferenceSet'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TableFileHandleResults'
          description: Success
      summary: .
      tags:
        - Table Services
  '/entity/{id}/table/query/async/get/{asyncToken}':
    parameters:
      - in: path
        name: asyncToken
        description: Async Token
        required: true
        schema:
          type: string
      - description: The ID of the TableEntity.
        in: path
        name: id
        required: true
        schema:
          type: string
    get:
      description: >
        Asynchronously get the results of a query started with POST

        /entity/{id}/table/query/async/start


        Note: When the result is not ready yet, this method will return a status

        code of 202 (ACCEPTED) and the response body will be a
        AsynchronousJobStatus object.
      operationId: queryAsyncGet
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryResultBundle'
          description: Success
      summary: Asynchronously get the results of a query started with.
      tags:
        - Table Services
  '/entity/{id}/table/query/async/start':
    parameters:
      - description: The ID of a TableEntity.
        in: path
        name: id
        required: true
        schema:
          type: string
    post:
      description: >
        Asynchronously start a query. Use the returned job id and GET

        /entity/{id}/table/query/async/get</a> to get the results of the query


        Using a 'SQL like' syntax, query the current version of the rows in a

        single table. The following pseudo-syntax is the basic supported format:



        SELECT <br>


        [ALL | DISTINCT] select_expr [, select_expr ...] <br>


        FROM synapse_table_id <br>


        [WHERE where_condition] <br>


        [GROUP BY {col_name [, [col_name * ...] } <br>


        [ORDER BY {col_name [ [ASC | DESC] [, col_name [ [ASC | DESC]]}<br>


        [LIMIT row_count [ OFFSET offset ]]<br>



        <p>


        Note: Sub-queries and joining tables is not supported.


        </p>


        <p>


        This services depends on an index that is created/update asynchronously

        from table creation and update events. This means there could be short

        window of time when the index is inconsistent with the true state of the

        table. When the index is out-of-synch, then a status code of 202

        (ACCEPTED) will be returned and the response body will be a TableStatus

        object. The TableStatus will indicates the current

        status of the index including how much work is remaining until the index

        is consistent with the truth of the table.


        The 'partsMask' is an integer "mask" that can be combined into to
        request

        any desired part. As of this writing, the mask is defined as follows
        QueryBundleRequest


        <ul>


        <li>Query Results <i>(queryResults)</i> = 0x1</li>


        <li>Query Count <i>(queryCount)</i> = 0x2</li>


        <li>Select Columns <i>(selectColumns)</i> = 0x4</li>


        <li>Max Rows Per Page <i>(maxRowsPerPage)</i> = 0x8</li>


        <li>The Table Columns <i>(columnModels)</i> = 0x10</li>


        <li>Facet statistics for each faceted column <i>(facetStatistics)</i> =
        0x20</li>


        <li>The sum of the file sizes <i>(sumFileSizesBytes)</i> = 0x40</li>


        </ul>


        </p>


        <p>


        For example, to request all parts, the request mask value should be:
        <br>

        0x1 OR 0x2 OR 0x4 OR 0x8 OR 0x10 OR 0x20 OR 0x40 = 0x7F.


        </p>


        <p>


        Note: The caller must have the READ permission on the TableEntity to
        make this call.


        </p>
      operationId: queryAsyncStart
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryBundleRequest'
        required: false
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncJobId'
          description: Success
      summary: Asynchronously start a query.
      tags:
        - Table Services
  '/entity/{id}/table/snapshot':
    parameters:
      - in: path
        description: The ID of a Table Entity.
        name: id
        required: true
        schema:
          type: string
    post:
      description: >
        Request to create a new snapshot of a table. The provided comment,

        label, and activity ID will be applied to the current version thereby
        creating a

        snapshot and locking the current version. After the snapshot is created
        a new

        version will be started with an 'in-progress' label.


        NOTE: This service is for TableEntity only. Snapshots of EntityView

        require asynchronous processing and can be created via:

        POST /entity/{id}/table/transaction/async/start
      operationId: createSnapshot
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SnapshotRequest'
        required: false
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SnapshotResponse'
          description: Success
      summary: Request to create a new snapshot of a table.
      tags:
        - Table Services
  '/entity/{id}/table/transaction/async/get/{asyncToken}':
    parameters:
      - description: The token returned when the job was started.
        in: path
        name: asyncToken
        required: true
        schema:
          type: string
      - description: The ID of a Table entity.
        in: path
        name: id
        required: true
        schema:
          type: string
    get:
      description: >
        Asynchronously get the results of a table update transaction started

        with POST /entity/{id}/table/transaction/async/start</a>


        Note: When the result is not ready yet, this method will return a status

        code of 202 (ACCEPTED) and the response body will be a
        AsynchronousJobStatus object.
      operationId: getTableTransactionResult
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TableUpdateTransactionResponse'
          description: Success
      summary: >-
        Asynchronously get the results of a table update transaction started
        with.
      tags:
        - Table Services
  '/entity/{id}/table/transaction/async/start':
    parameters:
      - description: The ID of a Table Entity.
        in: path
        name: id
        required: true
        schema:
          type: string
    post:
      description: >
        Start a table update job that will attempt to make all of the requested

        changes in a single transaction. All updates will either succeed or fail
        as a unit.  All

        update requests must be for the same table.


        <p>


        Note: The caller must have the UPDATE permission on the TableEntity to
        make this call.


        </p>


        <p>


        <b>Service Limits</b>


        <table border="1">


        <tr>


        <th>resource</th>


        <th>limit</th>


        </tr>


        <tr>


        <td>The maximum size of a PartialRow change </td>


        <td>2 MB</td>


        </tr>


        <tr>


        <td>The maximum size of a CSV that can be appended to a table</td>


        <td>1 GB</td>


        </tr>


        </table>


        </p>
      operationId: startTableTransactionJob
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TableUpdateTransactionRequest'
        required: false
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncJobId'
          description: Success
      summary: |
        Start a table update job that will attempt to make all of the requested
        changes in a single transaction.
      tags:
        - Table Services
  '/entity/{id}/threads':
    parameters:
      - description: The ID of an Entity.
        in: path
        name: id
        required: true
        schema:
          type: string
    get:
      description: |
        This API is used to get N number of threads that belongs to projects
        user can view and references the given entity.

        Target users: anyone who has READ permission to the entity.
      operationId: getThreadsForEntity
      parameters:
        - description: 'The direction of sort: true for ascending, and false for descending'
          in: query
          name: ascending
          schema:
            type: boolean
        - description: |
            Limits the size of the page returned. For example, a page size
            of 10 require limit = 10. The maximum Limit for this call is 20.'
          in: query
          name: limit
          schema:
            type: number
            default: 10
            minimum: 10
            maximum: 20
        - description: >
            The index of the pagination offset. For a page size of 10, the

            first page would be at offset = 0, and the second page would be at
            offset =

            10.'
          in: query
          name: offset
          schema:
            type: number
            default: 0
            minimum: 0
        - description: >
            The field to sort the resulting threads on. Available options
            DiscussionThreadOrder
          in: query
          name: sort
          schema:
            enum:
              - NUMBER_OF_REPLIES
              - NUMBER_OF_VIEWS
              - PINNED_AND_LAST_ACTIVITY
              - THREAD_TITLE
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResultsOfDiscussionThreadBundle'
          description: Success
      summary: >
        This API is used to get N number of threads that belongs to projects
        user

        can view and references the given entity.
      tags:
        - Discussion Services
  '/entity/{id}/type':
    parameters:
      - description: The ID of the Entity.
        in: path
        name: id
        required: true
        schema:
          type: string
    get:
      description: >
        Get the EntityHeader of an Entity given its ID. The EntityHeader is

        a light weight object with basic information about an Entity includes
        its type.
      operationId: getEntityType
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Empty'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityHeader'
          description: Success
      summary: Get the EntityHeader of an Entity given its ID.
      tags:
        - Entity Services
  '/entity/{id}/version':
    parameters:
      - description: The ID of the Entity.
        in: path
        name: id
        required: true
        schema:
          type: string
    get:
      description: Get all versions of an Entity one page at a time.
      operationId: getAllVersionsOfEntity
      parameters:
        - description: |
            Limits the number of entities that will be fetched for
            this page. When null it will default to 10.
          in: query
          name: limit
          schema:
            default: 10
            type: integer
            minimum: 10
        - description: |
            The offset index determines where this page will start
            from. When null it will default to 0.
          in: query
          name: offset
          schema:
            default: 0
            type: integer
            minimum: 0
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResultsOfVersionInfo'
          description: Success
      summary: Get all versions of an Entity one page at a time.
      tags:
        - Entity Services
  '/entity/{id}/version/{versionNumber}':
    parameters:
      - description: The ID of the Entity
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: The version number of the Entity.
        in: path
        name: versionNumber
        required: true
        schema:
          type: integer
    delete:
      description: Delete a specific version of a FileEntity.
      operationId: deleteEntityVersion
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Empty'
        required: false
      responses:
        '204':
          description: The resource has been deleted.
      summary: Delete a specific version of a FileEntity.
      tags:
        - Entity Services
    get:
      description: >
        Get a specific version of an Entity.


        Note: Only the current version of the Entity can be used for an Entity

        update. Therefore, only the current version of the Entity will be
        returned

        with the actual etag. All older versions will be returned with an eTag

        '00000000-0000-0000-0000-000000000000'.
      operationId: getEntityForVersion
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Entity'
          description: Success
      summary: Get a specific version of an Entity.
      tags:
        - Entity Services
  '/entity/{id}/version/{versionNumber}/annotations2':
    parameters:
      - description: The ID of the Entity.
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: The version number of the Entity.
        in: path
        name: versionNumber
        required: true
        schema:
          type: integer
    get:
      description: Get an Entity's annotations for a specific version of a FileEntity.
      operationId: getEntityAnnotationsV2ForVersion
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Annotations_v2'
          description: Success
      summary: Get an Entity's annotations for a specific version of a FileEntity.
      tags:
        - Entity Services
  '/entity/{id}/version/{versionNumber}/bundle2':
    parameters:
      - description: The ID of the Entity.
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: The version number of the Entity.
        in: path
        name: versionNumber
        required: true
        schema:
          type: integer
    post:
      description: >-
        Get an entity at a specific version and its related data with a single
        POST.
      operationId: getEntityBundle2
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EntityBundleRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityBundle_v2'
          description: Success
      summary: |
        Get an entity at a specific version and its related data with a single
        POST.
      tags:
        - Entity Bundle V2 Services
  '/entity/{id}/version/{versionNumber}/filehandle':
    parameters:
      - description: The ID of the Entity.
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: The version number of the Entity.
        in: path
        name: versionNumber
        required: true
        schema:
          type: integer
    put:
      description: |
        Updates the FileHandle associated with the FileEntity
        with the provided entity id and version.
      operationId: updateEntityFileHandle
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FileHandleUpdateRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/String'
          description: Success
      summary: Updates the filehandle.
      tags:
        - Entity Services
  '/entity/{id}/version/{versionNumber}/filehandles':
    parameters:
      - description: The ID of the Entity.
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: The version number of the Entity.
        in: path
        name: versionNumber
        required: true
        schema:
          type: integer
    get:
      description: >
        Get the FileHandles of the file associated with a specific version

        of a FileEntity.


        If a preview exists for the file then the handle of the preview and the
        file

        will be returned with this call.
      operationId: getEntityFileHandlesForVersion
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileHandleResults'
          description: Success
      summary: |
        Get the FileHandles of the file associated with a specific version of
        a FileEntity.
      tags:
        - Entity Services
  '/entity/{id}/version/{versionNumber}/filepreview':
    parameters:
      - description: The ID of the Entity.
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: The version number of the Entity.
        in: path
        name: versionNumber
        required: true
        schema:
          type: integer
    get:
      description: >
        Get the URL of the preview file associated with a specific version

        of a FileEntity.


        Note: This call will result in a HTTP temporary redirect (307), to the
        actual

        file URL if the caller meets all of the download requirements.
      operationId: filePreviewRedirectUrlForVersion
      parameters:
        - description: |
            When set to false, the URL will be returned as
            text/plain instead of redirecting.
          in: query
          name: redirect
          schema:
            type: boolean
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/String'
          description: Success
      summary: |
        Get the URL of the preview file associated with a specific version of
        a FileEntity.
      tags:
        - Entity Services
  '/entity/{id}/version/{versionNumber}/generatedBy':
    parameters:
      - description: The ID of the Entity.
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: The version number of the Entity.
        in: path
        name: versionNumber
        required: true
        schema:
          type: integer
    get:
      description: Get an existing activity for a specific version of an Entity.
      operationId: getActivityForEntityVersion
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Empty'
        description: Get an existing activity for a specific version of an Entity.
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Activity'
          description: Success
      summary: Get an existing activity for a specific version of an Entity.
      tags:
        - Entity Services
  '/entity/alias/{alias}':
    parameters:
      - in: path
        name: alias
        description: Alias of an Entity
        required: true
        schema:
          type: string
    get:
      description: Lookup an Entity ID using an alias.
      operationId: getEntityIdByAlias
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityId'
          description: Success
      summary: Lookup an Entity ID using an alias.
      tags:
        - Entity Services
  /entity/bundle2/create:
    post:
      description: >
        Create an entity and associated components with a single POST.

        Specifically, this operation supports creation of an Entity, its

        Annotations, and its ACL.


        Upon successful creation, an EntityBundle is returned containing the

        requested components, as defined by the partsMask in the request
        object.'
      operationId: createEntityBundle2
      parameters:
        - in: query
          name: generatedBy
          description: Generated By
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EntityBundleCreate_v2'
        required: false
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityBundle_v2'
          description: Success
      summary: Create an entity and associated components with a single POST.
      tags:
        - Entity Bundle V2 Services
  /entity/child:
    post:
      description: |
        Retrieve an entityId for a given parent ID and entity name. This service
        can also be used to lookup projectId by setting the parentId to NULL in
        EntityLookupRequest.
      operationId: lookupChild
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EntityLookupRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityId'
          description: Success
      summary: Retrieve an entityId for a given parent ID and entity name.
      tags:
        - Entity Services
  /entity/children:
    post:
      description: >
        Get a page of children for a given parent ID. This service can also

        be used to list projects by setting the parentId to NULL in
        EntityChildrenRequest.
      operationId: getChildren
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EntityChildrenRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityChildrenResponse'
          description: Success
      summary: Get a page of children for a given parent ID.
      tags:
        - Entity Services
  /entity/header:
    post:
      description: >
        Get the EntityHeader for a list of references with a POST. If any

        item in the batch fails (e.g., with a 404) it will be EXCLUDED in the
        result set.
      operationId: getEntityVersionedTypeBatch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReferenceList'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResultsOfEntityHeader'
          description: Success
      summary: Get the EntityHeader for a list of references with a POST.
      tags:
        - Entity Services
[...]
